{% extends 'base3-category.html.twig' %}

    {% block stylesheets %}
        {{ parent() }}
        {{ encore_entry_link_tags('compare') }}
    {% endblock %}

{% block body %}
    <div id="dark"></div>
    {% if app.session.has('compare') %}
    <div class="container">
        <div class="compare-head">
            <h2>Сравнение продуктов</h2>
        </div>
        <div class="table-compare">
            <table>
                <thead>
                <tr>
                    <td class="table-head" colspan="{{ products|length +1 }}">
                        <button class="btn-clear js-compare-clear" data-url="{{ path('compare_clear') }}">
                            <i class="fas fa-trash-alt"></i>
                            Очистити список
                        </button>
                    </td>
                </tr>
                </thead>
                <tbody>
                <tr class="adaptive">
                    <td><strong>Описание</strong></td>
                    {% for product in products %}
                        <td>
                            <div class="main-info">
                                <div class="img-thumbnail">
                                    <a href="{{ path('product', {name: product['category'], link: product['item'].link, id: product['item'].id}) }}">
                                        <img src="{{ product['item'].mainImage | assets_image_path | imagine_filter('cart_univers2') }}" alt="{{ product['item'].name }}"/>
                                    </a>

                                    <button class="btn-remove js-compare-remove"
                                            data-url="{{ path('compare_remove', {id: product['item'].id}) }}">
                                        <i class="fas fa-times"></i>
                                    </button>
                                </div>
                                <h3 class="card-title">
                                    <a href="{{ path('product', {name: product['category'], link: product['item'].link, id: product['item'].id}) }}">
                                        <span>{{ product['item'].name }}</span>
                                    </a>
                                </h3>
                                {% if product['item'].discount is not empty %}
                                    <div class="price-field">
                                        <div class="card-old-price">
                                            <s>{{ product['item'].unitPrice }} ₴</s>
                                        </div>
                                        <div class="card-price-discount">
                                            <span>{{ (product['item'].unitPrice * (100 - product['item'].discount)/100)|round(0, 'floor') }}</span>
                                            <span>₴</span>
                                        </div>
                                    </div>
                                {% else %}
                                    <div class="card-price">
                                        <span>{{ product['item'].unitPrice }}</span>
                                        <span>₴</span>
                                    </div>
                                {% endif %}
                                {% if app.session.has('cart') %}
                                    {% if product['item'].id in app.session.get('cart').products|keys %}
                                        {% set card_btn_cart = 'active js-cart' %}
                                    {% else %}
                                        {% set card_btn_cart = 'js-add-product' %}
                                    {% endif %}
                                {% else %}
                                    {% set card_btn_cart = 'js-add-product' %}
                                {% endif %}
                                <div class="card-buy">
                                    <button class="buy-btn {{ card_btn_cart }}"
                                            data-url="{{ path('cart_add', {id: product['item'].id}) }}" onclick="window.addProduct(event)">
                                        <i class="fas fa-shopping-cart"></i>
                                        <span>Купить</span>
                                    </button>
                                </div>
                            </div>
                        </td>
                    {% endfor %}
                </tr>

                {% for types in type %}
                    <tr>
                        <td>{{ types|trans({}, 'options') }}</td>
                        {% for product in products %}
                            <td>
                            {% for key, data in product.options %}

                                {% if types == key %}

                                    {% if data|length > 1 %}
                                        {% for variable in data %}
                                            {{ variable }}<br>
                                        {% endfor %}
                                    {% else %}
                                        {% for variable in data %}
                                            {{ variable }}
                                        {% endfor %}
                                    {% endif %}

                                {% endif %}
                            {% endfor %}
                            </td>
                        {% endfor %}
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    {% else %}
        <div class="container contatainer_compare">

            <dibv class="logo_compare">
                <svg width="200" height="201" viewBox="0 0 200 201" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <g clip-path="url(#clip0)">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M34.0605 35.6377C34.8172 33.9041 36.529 32.7836 38.4204 32.7836H160.719C162.61 32.7836 164.322 33.9041 165.079 35.6377L189.741 92.1384C190.792 94.5463 189.692 97.3504 187.284 98.4014C184.876 99.4524 182.072 98.3524 181.021 95.9445L160.719 49.4323L140.417 95.9445C139.366 98.3525 136.562 99.4524 134.154 98.4014C131.746 97.3504 130.646 94.5463 131.697 92.1384L153.452 42.2979H104.327V151.956C104.327 154.583 102.197 156.713 99.5697 156.713C96.9424 156.713 94.8126 154.583 94.8126 151.956V42.2979H45.6875L67.4424 92.1384C68.4934 94.5463 67.3935 97.3504 64.9856 98.4014C62.5776 99.4524 59.7736 98.3524 58.7226 95.9445L38.4204 49.4324L18.1183 95.9445C17.0672 98.3524 14.2632 99.4524 11.8553 98.4014C9.44738 97.3504 8.34741 94.5463 9.39844 92.1384L34.0605 35.6377Z" fill="#a5c965"/>
                        <path d="M13.7584 109.978H63.9671L62.9007 117.237C61.1591 129.094 50.9875 137.88 39.0039 137.88C27.3468 137.88 17.353 129.555 15.2478 118.089L13.7584 109.978Z" fill="#a5c965" fill-opacity="0.4"/>
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M10.1034 106.933C11.0072 105.848 12.3463 105.221 13.7584 105.221H63.9671C65.3494 105.221 66.6634 105.822 67.567 106.868C68.4707 107.914 68.8746 109.301 68.6737 110.669L67.6073 117.929C65.5227 132.121 53.3478 142.638 39.0039 142.638C25.0508 142.638 13.0887 132.672 10.5688 118.948L9.07943 110.837C8.82442 109.448 9.19958 108.018 10.1034 106.933ZM19.4685 114.735L19.9267 117.23C21.6173 126.437 29.6427 133.123 39.0039 133.123C48.6273 133.123 56.7955 126.067 58.194 116.546L58.4601 114.735H19.4685Z" fill="#a5c965"/>
                        <path d="M136.719 109.978H186.927L185.861 117.237C184.119 129.094 173.948 137.88 161.964 137.88C150.307 137.88 140.313 129.555 138.208 118.089L136.719 109.978Z" fill="#a5c965" fill-opacity="0.4"/>
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M133.064 106.933C133.967 105.848 135.306 105.221 136.719 105.221H186.927C188.31 105.221 189.624 105.822 190.527 106.868C191.431 107.914 191.835 109.301 191.634 110.669L190.567 117.929C188.483 132.121 176.308 142.638 161.964 142.638C148.011 142.638 136.049 132.672 133.529 118.948L132.04 110.837C131.785 109.448 132.16 108.018 133.064 106.933ZM142.429 114.735L142.887 117.23C144.577 126.437 152.603 133.123 161.964 133.123C171.587 133.123 179.756 126.067 181.154 116.546L181.42 114.735H142.429Z" fill="#a5c965"/>
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M65.6664 154.674C70.2896 150.829 76.5883 149.425 83.8585 149.425H113.364C115.991 149.425 118.121 151.555 118.121 154.182C118.121 156.81 115.991 158.94 113.364 158.94H83.8585C77.5901 158.94 73.9163 160.187 71.7505 161.989C69.7021 163.693 68.2057 166.566 67.8548 171.786C67.6869 174.284 65.6119 176.224 63.1084 176.224H49.7805C44.4544 176.224 41.0275 179.995 41.0275 183.605C41.0275 187.215 44.4544 190.986 49.7805 190.986H88.4851C88.4977 190.986 88.5103 190.986 88.523 190.986H108.699C108.712 190.986 108.725 190.986 108.737 190.986H147.442C152.768 190.986 156.195 187.215 156.195 183.605C156.195 179.995 152.768 176.224 147.442 176.224H134.114C131.487 176.224 129.357 174.094 129.357 171.467C129.357 168.84 131.487 166.71 134.114 166.71H147.442C157.039 166.71 165.709 173.808 165.709 183.605C165.709 193.402 157.039 200.5 147.442 200.5H49.7805C40.1837 200.5 31.5132 193.402 31.5132 183.605C31.5132 173.808 40.1838 166.71 49.7805 166.71H58.938C59.9087 161.863 62.0011 157.723 65.6664 154.674Z" fill="#a5c965"/>
                        <path d="M115.928 20.8424C115.928 29.4499 108.95 36.4276 100.343 36.4276C91.7354 36.4276 84.7576 29.4499 84.7576 20.8424C84.7576 12.2349 91.7354 5.2572 100.343 5.2572C108.95 5.2572 115.928 12.2349 115.928 20.8424Z" fill="#a5c965" fill-opacity="0.4"/>
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M100.343 10.0143C94.3627 10.0143 89.5148 14.8622 89.5148 20.8424C89.5148 26.8225 94.3627 31.6704 100.343 31.6704C106.323 31.6704 111.171 26.8225 111.171 20.8424C111.171 14.8622 106.323 10.0143 100.343 10.0143ZM80.0005 20.8424C80.0005 9.60758 89.1081 0.5 100.343 0.5C111.578 0.5 120.685 9.60758 120.685 20.8424C120.685 32.0771 111.578 41.1847 100.343 41.1847C89.1081 41.1847 80.0005 32.0771 80.0005 20.8424Z" fill="#a5c965"/>
                    </g>
                    <defs>
                        <clipPath id="clip0">
                            <rect width="200" height="200" fill="#a5c965" transform="translate(0 0.5)"/>
                        </clipPath>
                    </defs>
                </svg>
            </dibv>

            <div class="body-info">
                <p>Порівняння не заповнено </p>
                <h1>Для порівняння додайте кілька товарів. Ви можете додати товар у «порівняння» в <a href="{{ path('catalog') }}">каталозi</a>. </h1>
            </div>
        </div>

    {% endif %}
{% endblock %}


{% block footer %}
    {% if app.session.has('compare') %}
        {{ parent() }}
    {% endif %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('compare') }}
{% endblock %}