{% extends 'base3-category.html.twig' %}

    {% block stylesheets %}
        {{ parent() }}
        {{ encore_entry_link_tags('compare') }}
    {% endblock %}

{% block body %}
    <div id="dark"></div>
    {% if app.session.has('compare') %}
    <div class="container">
        <div class="compare-head">
            <h2>Сравнение продуктов</h2>
        </div>
        <div class="table-compare">
            <table class="table">
                <thead>
                <tr>
                    <td class="table-head" colspan="{{ products|length +1 }}">
                        <button class="btn-clear js-compare-clear" data-url="{{ path('compare_clear') }}">
                            <i class="fas fa-trash-alt"></i>
                            Очистити список
                        </button>
                    </td>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td><strong>Описание</strong></td>
                    {% for product in products %}
                        <td class="text-center">
                            <div class="main-info">
                                <div class="img-thumbnail">
                                    <img src="{{ product['item'].mainImage | sub_product_image_path | imagine_filter('thumb_cart_univers') }}" alt="{{ product['item'].name }}"/>

                                    <button class="btn-remove js-compare-remove"
                                            data-url="{{ path('compare_remove', {id: product['item'].id}) }}">
                                        <i class="fas fa-times"></i>
                                    </button>
                                </div>
                                <h3 class="card-title">
                                    <a href="{{ path('product', {name: product['category'], link: product['item'].link, id: product['item'].id}) }}">
                                        <span>{{ product['item'].name }}</span>
                                    </a>
                                </h3>
                                {% if product['item'].discount is not empty %}
                                    <div class="price-field">
                                        <div class="card-old-price">
                                            <s>{{ product['item'].unitPrice }} ₴</s>
                                        </div>
                                        <div class="card-price-discount">
                                            <span>{{ (product['item'].unitPrice * (100 - product['item'].discount)/100)|round(0, 'floor') }}</span>
                                            <span>₴</span>
                                        </div>
                                    </div>
                                {% else %}
                                    <div class="card-price">
                                        <span>{{ product['item'].unitPrice }}</span>
                                        <span>₴</span>
                                    </div>
                                {% endif %}
                                {% if app.session.has('cart') %}
                                    {% if product['item'].id in app.session.get('cart').products|keys %}
                                        {% set card_btn_cart = 'active js-cart' %}
                                    {% else %}
                                        {% set card_btn_cart = 'js-add-product' %}
                                    {% endif %}
                                {% else %}
                                    {% set card_btn_cart = 'js-add-product' %}
                                {% endif %}
                                <div class="card-buy">
                                    <button class="buy-btn {{ card_btn_cart }}"
                                            data-url="{{ path('cart_add', {id: product['item'].id}) }}">
                                        <i class="fas fa-shopping-cart"></i>
                                        <span>Купить</span>
                                    </button>
                                </div>
                            </div>
                        </td>
                    {% endfor %}
                </tr>

                {% for types in type %}
                    <tr>
                        <td>{{ types|trans({}, 'options') }}</td>
                        {% for product in products %}
                            <td>
                            {% for key, data in product.options %}

                                {% if types == key %}

                                    {% if data|length > 1 %}
                                        {% for variable in data %}
                                            {{ variable }}<br>
                                        {% endfor %}
                                    {% else %}
                                        {% for variable in data %}
                                            {{ variable }}
                                        {% endfor %}
                                    {% endif %}

                                {% endif %}
                            {% endfor %}
                            </td>
                        {% endfor %}
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    {% else %}
        <div class="container">
            <div class="compare-head">
                <h2>Сравнение продуктов</h2>
            </div>

            <div class="body-info">
                <h1>Ви не обрали жодного товару для порівняння. Ви можете додати товар у «порівняння» в <a href="{{ path('catalog') }}">каталозi</a>. </h1>
            </div>
        </div>

    {% endif %}
{% endblock %}


{% block footer %}
    {% if app.session.has('compare') %}
        {{ parent() }}
    {% endif %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('compare') }}
{% endblock %}