{% extends 'base3-category.html.twig' %}

{% block title %}Кошик{% endblock %}

    {% block stylesheets %}
        {{ parent() }}
        {{ encore_entry_link_tags('cart') }}
    {% endblock %}

{% block body %}
    <div id="dark"></div>
    {% if app.session.has('cart') %}
            <div class="container">
                <div class="cart-head">
                    <h2>Кошик товарів</h2>
                </div>

                <div class="whole-cart" id="whl-cart">
                    <div class="cart-products">
                        {% for item in products %}
                            <div class="cart-product_item" id="{{ item['product'].id }}">
                                <div class="item-img">
                                    <a href="{{ path('product', {name: item['category'], link: item['product'].link, id: item['product'].id}) }}">
                                        <img class="card-img"
                                             src="{{ asset(item['product'].mainImage| product_image_path) }}"
                                             alt="image">
                                    </a>
                                </div>
                                <div class="item-stuff">
                                    <h3>
                                        <a href="{{ path('product', {name: item['category'], link: item['product'].link, id: item['product'].id}) }}"
                                        >{{ item['product'].name }}</a>
                                    </h3>
                                    <h5>код товару: {{ item['product'].id }}</h5>
                                    <div class="item-price">
                                        {% if item['product'].discount is not empty %}
                                            <span class="cart-price">{{ (item['product'].unitPrice * (100 - item['product'].discount)/100)|round(0, 'floor') }}<span> ₴</span></span>
                                        {% else %}
                                            <span class="cart-price">{{ item['product'].unitPrice }}<span> ₴</span></span>
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="cart-amount">
                                    <a class="btn minus" href="{{ path('cart_minus', {id: item['product'].id}) }}"
                                       type="button">
                                        <i class="fas fa-minus"></i>
                                    </a>
                                    <input type="number" min="1" max="99" value="{{ item['quantity'] }}" autocomplete="off">
                                    <a class="btn plus" href="{{ path('cart_plus', {id: item['product'].id}) }}"
                                       type="button">
                                        <i class="fas fa-plus"></i>
                                    </a>
                                </div>
                                <div class="total-price-item">
                                    <div id="total-price_c54" class="total-price">
                                        {% if item['product'].discount is not empty %}
                                            <span>{{ ((item['product'].unitPrice * (100 - item['product'].discount)/100)|round(0, 'floor') * item['quantity']) }}<span> ₴</span></span>
                                        {% else %}
                                            <span>{{ item['product'].unitPrice * item['quantity'] }}<span> ₴</span></span>
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="delete-item">
                                    <button class="btn-remove js-remove"
                                            data-url="{{ path('cart_remove', {id: item['product'].id}) }}">
                                        <i class="fas fa-times"></i>
                                    </button>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                    <div class="checkout-price">
                        <div class="body-check">
                            <div>
                                <span>Загальна сума:</span>
                                <div id="check_c23" class="check">
                                    <span>{{ app.session.get('cart').totalPrice }}<span> ₴</span></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="cart-purchase">
                        <div class="continue">
                            <a class="btn-back" href="{{ path('catalog') }}"><span>Продовжити покупки</span></a>
                        </div>
                        <div class="purchase">
                            <a class="btn-checkout"
                               href="{{ path('checkout') }}">Оформити покупку</a>
                        </div>
                    </div>
                </div>

            </div>
    {% else %}
        <div class="container">
            <div class="cart-head">
                <h2>Кошик товарів</h2>
            </div>

            <div class="body-info">
                <h1>Ваш кошик порожній. Перейти до <a href="{{ path('catalog') }}">каталогу товарів</a>. </h1>
            </div>
        </div>
    {% endif %}

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('cart') }}
{% endblock %}

{% block footer %}
    {% if app.session.has('cart') %}
        {{ parent() }}
    {% endif %}
{% endblock %}
