{% extends 'base3-category.html.twig' %}

{% block title %}Підтвердження покупки{% endblock %}

    {% block stylesheets %}
        {{ parent() }}
        {{ encore_entry_link_tags('payment') }}
    {% endblock %}


{% block body %}
    <div id="dark"></div>
    <div class="container-context">

        <div class="checkout">

            <div class="check-info">
                {% for errorItem in checkoutForm.name.vars.errors %}
                    <div class="help-inline2">{{ errorItem.message }}</div>
                {% endfor %}
                {% for errorItem in checkoutForm.lastName.vars.errors %}
                    <div class="help-inline2">{{ errorItem.message }}</div>
                {% endfor %}
                {% for errorItem in checkoutForm.email.vars.errors %}
                    <div class="help-inline2">{{ errorItem.message }}</div>
                {% endfor %}
                {% for errorItem in checkoutForm.phoneNumber.vars.errors %}
                    <div class="help-inline2">{{ errorItem.message }}</div>
                {% endfor %}
                {% for errorItem in checkoutForm.delivery.vars.errors %}
                    <div class="help-inline2">{{ errorItem.message }}</div>
                {% endfor %}
                {% for errorItem in checkoutForm.address.vars.errors %}
                    <div class="help-inline2">{{ errorItem.message }}</div>
                {% endfor %}
                {% for errorItem in checkoutForm.warehouse.vars.errors %}
                    <div class="help-inline2">{{ errorItem.message }}</div>
                {% endfor %}
                {% for errorItem in checkoutForm.pay.vars.errors %}
                    <div class="help-inline2">{{ errorItem.message }}</div>
                {% endfor %}
                <div class="check-head">
                    <h1>Оформлення покупки</h1>
                </div>
                {{ form_start(checkoutForm, {'method': 'post', 'attr': {'class': 'checkout-form'}}) }}

                <h3>1.Ваші персональні дані</h3>
                <div class="checkout-contact">
                    {% if is_granted('ROLE_USER') %}

                        <div class="form-group">
                            <label class="form-label" for="inpName">Iм'я</label>
                            {{ form_widget(checkoutForm.name, { 'attr': {'class': 'form-input', 'id': 'inpName', 'type': 'text',
                                'autocomplete': 'off', 'required': 'required', 'autofocus': 'autofocus', 'value': app.user.name  } }) }}
                        </div>

                        <div class="form-group">
                            <label class="form-label" for="inpLastName">Прізвище</label>
                            {{ form_widget(checkoutForm.lastName, { 'attr': {'class': 'form-input', 'id': 'inpLastName', 'autocomplete': 'off',
                                'type': 'text', 'required': 'required', 'value': app.user.lastName } }) }}
                        </div>


                        <div class="form-group">
                            <label class="form-label" for="inpEmail">Эл. почта</label>
                            {{ form_widget(checkoutForm.email, { 'attr': {'class': 'form-input', 'id': 'inpEmail', 'autocomplete': 'off',
                                'type': 'email', 'required': 'required', 'value': app.user.email} }) }}
                        </div>

                        <div class="form-group">
                            <label class="form-label" for="inpPhone">Телефон</label>
                            {{ form_widget(checkoutForm.phoneNumber, { 'attr': {'class': 'form-input','id': 'inpPhone',
                                'autocomplete': 'off', 'required': 'required', 'type': 'tel', 'value': app.user.phoneNumber} }) }}
                        </div>
                        {{ form_widget(checkoutForm.user, { 'attr': {'value': app.user.id} }) }}
                    {% else %}

                        <div class="form-group">
                            <label class="form-label" for="inpName">Iм'я</label>
                            {{ form_widget(checkoutForm.name, { 'attr': {'class': 'form-input', 'id': 'inpName', 'type': 'text',
                                'autocomplete': 'off', 'required': 'required', 'autofocus': 'autofocus'} }) }}
                        </div>

                        <div class="form-group">
                            <label class="form-label" for="inpLastName">Прізвище</label>
                            {{ form_widget(checkoutForm.lastName, { 'attr': {'class': 'form-input', 'id': 'inpLastName', 'autocomplete': 'off',
                                'type': 'text', 'required': 'required'} }) }}
                        </div>


                        <div class="form-group">
                            <label class="form-label" for="inpEmail">Эл. почта</label>
                            {{ form_widget(checkoutForm.email, { 'attr': {'class': 'form-input', 'id': 'inpEmail', 'autocomplete': 'off',
                                'type': 'email', 'required': 'required'} }) }}
                        </div>

                        <div class="form-group">
                            <label class="form-label" for="inpPhone">Телефон</label>
                            {{ form_widget(checkoutForm.phoneNumber, { 'attr': {'class': 'form-input','id': 'inpPhone',
                                'autocomplete': 'off', 'required': 'required', 'type': 'tel', 'placeholder': '+31234567890'} }) }}
                        </div>
                    {% endif %}
                </div>

                <h3 class="delivery">2.Доставка</h3>
                <div class="checkout-delivery">

                    <div class="form-group">
                        <label class="form-label h-lable" for="inpDelivery">Спосіб доставки:</label>
                        {{ form_widget(checkoutForm.delivery, { 'attr': { 'class': 'form-checkbox', 'id': 'inpDelivery', 'required': 'required'} }) }}
                    </div>


                    <div id="nova-poshta" class="novaposhta-delivery">
                        <div class="np-head">
                            <img src="{{ asset('build/images/novaposhta-logo.png') }}" alt="Нова Пошта">
                        </div>
                        <div class="np-content">
                            <div>
                                <label for="novaposhta-city-input">Виберіть свій населений пункт України</label>
                                <div class="custom-autocomplete">
                                    {{ form_widget(checkoutForm.address, { 'attr': {'id': 'novaposhta-city-input',
                                        'autocomplete': 'off', 'onblur': 'window.novaposhtaAutocompleteBlur(event)',
                                        'oninput': 'window.novaposhtaAutocomplete(event)','onfocus': 'window.novaposhtaAutocomplete(event)'} }) }}
                                </div>
                            </div>
                            <div>
                                <label for="novaposhta-warehouse-select">Виберіть відповідне відділення</label>
                                <div class="custom-autocomplete">
                                    {{ form_widget(checkoutForm.warehouse, { 'attr': {'id': 'novaposhta-city-input',
                                        'oninput': 'window.warehouseSelectChange(event)'} }) }}
                                </div>
                            </div>
                            <div>
                                <div class="delivery-information"></div>
                            </div>
                        </div>
                    </div>
                </div>

                <h3 class="pay">3.Оплата</h3>
                <div class="checkout-pay">

                    <div class="form-group">
                        <label class="form-label" for="inpPay">Оберіть спосіб оплати</label>
                        {{ form_widget(checkoutForm.pay, { 'attr': { 'class': 'form-pay-checkbox', 'id': 'inpPay', 'required': 'required'} }) }}
                    </div>
                    <div id="sub-info-help" class="help-inline2 mt">На жаль, на даний час ця функція недоступна</div>

                </div>
            </div>

            <div class="cart-check">
                <h3 class="check-heading">Итого</h3>
                <div class="cart-item">
                    {% for item in products %}
                        <div class="cart-product_item" id="{{ item['product'].id }}">
                            <div class="item-img">
                                <a href="{{ path('product', {name: item['category'], link: item['product'].link, id: item['product'].id}) }}">
                                    <img class="card-img"
                                         src="{{ asset(item['product'].mainImage| assets_image_path | imagine_filter('cart_univers2')) }}"
                                         alt="image">
                                </a>
                            </div>
                            <div class="item-stuff">
                                <h3>
                                    <a href="{{ path('product', {name: item['category'], link: item['product'].link, id: item['product'].id}) }}"
                                    >{{ item['product'].name }}</a>
                                </h3>
                                <a class="btn minus" href="{{ path('cart_minus', {id: item['product'].id}) }}"
                                   type="button">
                                    <i class="fas fa-minus"></i>
                                </a>
                                <input type="number" min="1" max="99" value="{{ item['quantity'] }}" autocomplete="off"
                                       disabled>
                                <a class="btn plus" href="{{ path('cart_plus', {id: item['product'].id}) }}"
                                   type="button">
                                    <i class="fas fa-plus"></i>
                                </a>
                            </div>
                            <div class="total-price-item">
                                <div class="total-price">
                                    {% if item['product'].discount is not empty %}
                                        <span>{{ ((item['product'].unitPrice * (100 - item['product'].discount)/100)|round(0, 'floor') * item['quantity']) }}<span> ₴</span></span>
                                    {% else %}
                                        <span>{{ item['product'].unitPrice * item['quantity'] }}<span> ₴</span></span>
                                    {% endif %}
                                </div>

                                <button class="btn-remove js-remove"
                                        type="button" data-url="{{ path('cart_remove', {id: item['product'].id}) }}">
                                    Видалити
                                </button>
                            </div>
                        </div>
                    {% endfor %}
                </div>
                <div class="cart-footer">
                    <div class="total-quantity">
                        <span>Кількість:</span>
                        <span>{{ app.session.get('cart').totalQuantity }}</span>
                    </div>
                    <div class="total-sum">
                        <span>Загальна сума</span>
                        <span>{{ app.session.get('cart').totalPrice }}<span> ₴</span></span>
                    </div>
                    <div class="check-total">
                        <button id="btn-checkout" type="submit" class="btn-confirm">Підтвердити замовлення</button>
                    </div>
                </div>
            </div>

            {{ form_rest(checkoutForm) }}
            {{ form_end(checkoutForm) }}
        </div>


    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('payment') }}
{% endblock %}