{% extends 'account/layout_acc.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('account') }}
{% endblock %}

{% block user_content %}
    <div class="container-context">
        {% for message in app.flashes('updated') %}
            <div class="alert-success">
                {{ message }}
            </div>
        {% endfor %}
        <div class="profile">

            <ul>
                <li><a href="{{ path('app_account') }}">Особисті дані</a></li>
                <li><a href="{{ path('wish_list') }}">Товари в бажаному</a></li>

                <li><a href="{{ path('app_user_order_list') }}">Список замовлень</a></li>
                <li><a href="{{ path('app_recently_viewed') }}">Історія переглядів</a></li>
            </ul>

            {% block profile_data %}{% endblock profile_data %}

        </div>
    </div>

{% endblock %}

{% block footer %}
    {{ parent() }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}