{% extends 'base3-category.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('login') }}
{% endblock %}

{% block title %}Вхід в інтернет-магазин{% endblock %}

{% block body %}
    <div id="dark"></div>
<div class="container-context">
    <div class="form-register">
        <h1 class="text-top">Вхід</h1>
        <form class="register-form login" action="{{ path('app_login') }}" method="post">
            {% if error %}
                <div class="login-error">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}
            {% for message in app.flashes('success') %}
                <div class="alert alert-success">
                    {{ message }}
                </div>
            {% endfor %}
        <div class="form-group-email">
            <label id="icon" for="inpEmail"><i class="fas fa-envelope"></i></label>
            <input class="form-input-email" type="email" autocomplete="on" name="email" id="inpEmail" required autofocus placeholder="Електронна пошта* " multiple>
        </div>
        <div class="form-group-password">
            <label id="icon" for="inpPassword"><i class="fas fa-shield-alt"></i></label>
            <input type="password" autocomplete="off" name="password" id="inpPassword" class="form-input-password" required placeholder="Пароль* ">
        </div>
            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
        <div class="checkbox-form remember">
            <input type="checkbox" class="custom-checkbox" id="happy" name="_remember_me" value="remember-me" >
            <label for="happy"> Запам'ятати мене</label>
        </div>
        <button class="btn-login-main" type="submit">Увійти</button>
        <div class="user-sub-link">
        </div>
            <a class="register-link link-reg ffpass" href="{{ path('forgotPassword') }}">Нагадати пароль</a>
            <a class="register-link link-reg" href="{{ path('app_register') }}">Зареєструватися</a>
        </form>
    </div>
</div>
{% endblock %}

{% block footer %}
    {{ parent() }}
{% endblock %}