{% extends 'base3-category.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('login') }}
{% endblock %}

{% block body %}    <div id="dark"></div>
    <div class="container-context">
    <!-- BEGIN REGISTRATION FORM -->
        <div class="form-register">
            <h1 class="text-top">Зміна пароля</h1>
                {{ form_start(resetPasswordForm, {'method': 'post', 'attr': {'class': 'register-form'}}) }}
            <p>Чудово! Введіть свій новий пароль і насолоджуйтеся шопінгом.</p>
            {% for errorItem in resetPasswordForm.plainPassword.first.vars.errors %}
                <span class="help-register">{{ errorItem.message }}</span>
            {% endfor %}
            {% for errorItem in resetPasswordForm.plainPassword.second.vars.errors %}
                <span class="help-register">{{ errorItem.message }}</span>
            {% endfor %}
                <div class="form-group-password">
                    <label id="icon" for="inpPassword"><i class="fas fa-shield-alt"></i></label>
                {{ form_widget(resetPasswordForm.plainPassword.first, { 'attr': {'class': 'form-input-password', 'id': 'inpPassword', 'placeholder': "Новий Пароль*"} }) }}
                </div>
                <div class="form-group-password">
                    <label id="icon" for="inpRepPassword"><i class="fas fa-shield-alt"></i></label>
                {{ form_widget(resetPasswordForm.plainPassword.second, { 'attr': {'class': 'form-input-password', 'id': 'inpRepPassword', 'placeholder': "Підтвердження пароля*"} }) }}
                </div>
                <div class="form-group check-terms">
                    <button type="submit" class="btn-register">Змінити пароль</button>
                </div>
        </div>
        {{ form_rest(resetPasswordForm) }}
    {{ form_end(resetPasswordForm) }}
    </div>
{% endblock %}