{% extends 'base3-category.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('about') }}
{% endblock %}
{% block body %}
    <div class="container">
        <div id="#about" class="about_container">
            <div class="section-title">
                <div class="title-wrapper">
                    <div class="title"><h1>Про нас</h1></div>
                </div>
            </div>
        </div>
        <div class="entry-content">
            <h2 class="text-center"><b>БУДІВЕЛЬНИЙ МАРКЕТ «Craft Bud» ПРОПОНУЄ ВАМ ШИРОКИЙ АСОРТИМЕНТ ТОВАРІВ&nbsp;ДЛЯ БУДІВНИЦТВА, ОБЛАШТУВАННЯ ДОМУ, ДАЧІ, ГАРАЖА, САДУ ТА ГОРОДУ.</b></h2>
            <h4><b>Ми гарантуємо:</b></h4>
            <ul style="list-style-type: disc;">
                <li>високоякісні товари перевірених роками та досвідом виробників;</li>
                <li>забезпечення можливості вибору в конкурентному на ринку ціновому діапазоні від дешевших до дорожчих;</li>
                <li>консультацію та допомогу у виборі матеріалів та інструментів від справжніх професіоналів у своєму напрямку;</li>
                <li>ознайомлення та використання&nbsp;найновіших технологій та тенденцій в будівництві та ремонті, які враховуються для надання рекомендацій у виборі;</li>
                <li>грамотний підбір&nbsp;товарів в залежності від побажань покупця;</li>
                <li><span>високий рівень обслуговування та&nbsp;</span><span>сервісу;</span></li>
                <li>вичерпну інформацію про товари для можливості самостійно вибрати та придбати все необхідне без додаткових консультацій;</li>
                <li>оперативне опрацювання та узгодження замовлень досвідченими менеджерами;</li>
                <li>затишний та комфортний магазин за адресою <a href="{{ path('info', {'_fragment': '#map'}) }}">м.Івано-Франківськ вул.Олександра Довженка 21Б</a>, де Вам завжди будуть раді!</li>
            </ul>
            <h4 style="text-align: center;">Ознайомитись з нашим асортиментом товарів - понад 15 тисяч найменувань - та обрати найбільш потрібний Ви можете в нашому оновленому інтернет-магазині!</h4>
            <h4 style="text-align: center;">Вдалих<span>&nbsp;</span>Вам покупок!</h4>
        </div>

        <div id="#delivery" class="delivery_container">
            <div class="section1-title">
                <div class="title-wrapper">
                    <div class="title"><h1>Доставка і оплата</h1></div>
                </div>
            </div>
{#            <div class="about-page  "><i id="watchme" style="font-size: 30px;" class=" fa fa-truck">&nbsp;</i>#}
                <div class="extra-wrap">
                    <div id="media-viewer" class="car">
                        <img class="car"  src="https://cdn.dribbble.com/users/1180825/screenshots/5436405/media/656974ceb66098ce783925d797f22278.gif" alt="656974ceb66098ce783925d797f22278">
                    </div>
                    <h3>Самовивіз</h3>
                    <p>Ви можете самостійний здійснити вивіз замовлення з магазину.</p>

                    <p><strong>Наша адреса:</strong><br>
                        76000, Україна<br>
                        м. Івано-Франківськ<br>
                        вулиця Олександра Довженка, 21Б<br>
                        Магазин-инструмента «Craft Bud»</p>
                    <p><strong>Графік роботи:</strong><br>
                        Пн-Пт 08:30-17:30<br>
                        &nbsp; &nbsp; &nbsp;Сб 09:00–14:00<br>
                        &nbsp; &nbsp; &nbsp;Нд Закрито</p>

                    <p><strong>Тел.:</strong> +38 (066) 766 15 15<br>
                        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<span>+38 (095) 532 44 85<br>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;+38 (063) 222 86 72</span><br>
                        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;+38 (066) 141 66 76</p>
                    <p><strong>Е-mail:</strong><span>&nbsp;</span><b><a style="color: #a5c965" href="mailto:4stiny.com@gmail.com" target="_blank">craftbud.com@gmail.com</a></b></p>

                    <div class="extra-wrap" style="padding-top: 20px">
                        <h3>Доставка по місту Івано-Франківськ:</h3>

                        <p><span>Доставка замовленого товару здійснюється за допомогою перевізника <a style="color: #a5c965" href="https://novaposhta.ua/" target="_blank">«Нова пошта»</a>.</span></p>

                        <p>Всі необхідні контактні данні для оформлення доставки Ви вказуєте при оформленні замовлення на сайті. Перед відправленням замовлення ми ретельно його перевіряємо і страхуємо на повну вартість.</p>

                        <p>При замовленні на суму до 1000 грн. вартість доставки 50 грн.</p>

                        <p>При замовленні на сумму понад 1000 грн. доставка безкоштовна.</p>

                            <div class="extra-wrap">
                                <h3>Доставка по Україні:</h3>

                                <p>Доставка по Україні безкоштовна при замовленні на суму&nbsp;понад 1000 грн.</p>

                                <p><span>Всі необхідні контактні данні для оформлення доставки Ви вказуєте при оформленні замовлення на сайті.</span></p>

                                <p>Термін доставки: 2-3 робочі дні. Доставка замовленого товару по Україні здійснюється за допомогою перевізника <a style="color: #a5c965" href="https://novaposhta.ua/" target="_blank">«Нова пошта»</a>.</p>

                                <p>Термін доставки товару, який відсутній на складі, та везеться під замовлення, узгоджується менеджером індивідуально.</p>

                                <p>Перевага нашої компанії в тому, що усі вантажі перед відправленням ретельно перевіряются і страхуются на повну вартість.</p>
                            </div>

                        </div>
                        <h3 lang="uk-UA">Варіанти оплати замовлення:</h3>
                        <ul style="list-style-type: disc;">
                            <li><span><span color="#333333" style="color: #333333;"><span face="Helvetica Neue, Helvetica, Arial, sans-serif" style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;"><span size="3" style="font-size: medium;"><span lang="uk-UA">готівкою&nbsp;</span></span></span></span></span></li>
                            <li><span >Накладений платіж. Оплата у відділенні <a style="color: #a5c965" href="https://novaposhta.ua/" target="_blank">«Нова пошта»</a>.</span></li>
                        </ul>
                    </div>
                </div>

        <div id="#contacts" class="delivery_container">
            <div class="section1-title">
                <div class="title-wrapper">
                    <div class="title"><h1>Контакти</h1></div>
                </div>
            </div>
            <div class="map_info">
                <iframe id="#map" class="map_info" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d327.8368392616822!2d24.688424!3d48.902155!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xe519ffa06a5e372d!2z0JrRgNCw0YTRgiDQkdGD0LQ!5e0!3m2!1sru!2sua!4v1640360109653!5m2!1sru!2sua" width="100%" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
            </div>

        </div>
            </div>


{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('app') }}
{% endblock %}

{% block footer %}
    {{ parent() }}
{% endblock %}