{% if app.session.has('recently-viewed') %}
<div id="dark"></div>
<div class="wrappers_vied">
    <div class="user-container">
        <div class="viewed-head">
            <h2>Переглянуті товари</h2>
            <div class="btn-sup-view">
            <button class="btn-clear-view js-view-clear" data-url="{{ path('app_recently_viewed_clear') }}">
{#                <i class="fas fa-trash-alt"></i>#}
                Очистити список
            </button>
            </div>
        </div>
        <div class="view-products">
            {% for product in product_pager %}
                <div class="card">
                    <div class="product-img">
                        <div class="card-block">
                            {% if app.session.has('wish') %}
                                {% if product['item'].id in app.session.get('wish').items|keys %}
                                    {% set btn_wish = 'active js-wish' %}
                                {% else %}
                                    {% set btn_wish = 'js-wish-product' %}
                                {% endif %}
                            {% else %}
                                {% set btn_wish = 'js-wish-product' %}
                            {% endif %}
                            {% if app.session.has('compare') %}
                                {% if product['item'].id in app.session.get('compare').items|keys %}
                                    {% set card_btn_comp = 'active js-comp' %}
                                {% else %}
                                    {% set card_btn_comp = 'js-compare-product' %}
                                {% endif %}
                            {% else %}
                                {% set card_btn_comp = 'js-compare-product' %}
                            {% endif %}
                            <button class="btn-remove js-view-remove"
                                    data-url="{{ path('app_recently-viewed_remove', {id: product['item'].id}) }}">
                                <i class="fas fa-times"></i>
                            </button>
                            <button class="wish {{ btn_wish }}" onclick="window.wishProduct(event)"
                                    data-url="{{ path('wish_add', {id: product['item'].id}) }}"><i class="fas fa-heart"></i></button>
                            <button class="compare {{ card_btn_comp }}"
                                    data-url="{{ path('compare_add', {id: product['item'].id}) }}" onclick="window.compareProduct(event)">
                                <i class="fas fa-balance-scale"></i>
                            </button>
                        </div>
                        <a href="{{ path('product', {name: product['category'], link: product['item'].link, id: product['item'].id}) }}">
                            <img class="card-img"
                                 src="{{ asset(product['item'].mainImage| assets_image_path | imagine_filter('cart_univers2')) }}"
                                 alt="{{ product['item'].mainImage }}">
                        </a>
                    </div>
                    <div class="card-body">
                        <div class="card-comment">
                            {% if product['comments'] == 0 %}
                                <a href="{{ path('comments', {name: product['category'], link: product['item'].link, id: product['item'].id}) }}">
                                    <i style="color: silver" class="far fa-comments"></i>
                                    <span>залишити відгук</span>
                                </a>
                            {% elseif product['item'].rating == 0 %}
                                {% for i in 1..5 %}
                                    <i style="color: #ffa900" class="far fa-star"></i>
                                {% endfor %}
                                <a href="{{ path('comments', {name: product['category'], link: product['item'].link, id: product['item'].id}) }}">
                                <span>
                                {{ product['comments'] }}
                                    {% if product['comments']|last == 1 and not (product['comments'] matches '{11$}') %}
                                        відгук
                                    {% elseif product['comments']|last > 1 and product['comments']|last < 5 and not (product['comments'] matches '{1[2-4]$}') %}
                                        відгука{% else %}відгуків
                                    {% endif %}
                                </span>
                                </a>
                            {% elseif product['item'].rating|round == 5 %}
                                {% set i = 1 %}
                                {% for i in 1..product['item'].rating|round %}
                                    <i style="color: #ffa900" class="fas fa-star"></i>
                                {% endfor %}
                                <a href="{{ path('comments', {name: product['category'], link: product['item'].link, id: product['item'].id}) }}">
                               <span>
                                {{ product['comments'] }}
                                   {% if product['comments']|last == 1 and not (product['comments'] matches '{11$}') %}
                                       відгук
                                   {% elseif product['comments']|last > 1 and product['comments']|last < 5 and not (product['comments'] matches '{1[2-4]$}') %}
                                       відгука{% else %}відгуків
                                   {% endif %}
                                </span>
                                </a>
                            {% elseif product['item'].rating|round != 0 %}
                                {% set i = 1 %}
                                {% for i in 1..product['item'].rating|round %}
                                    <i style="color: #ffa900" class="fas fa-star"></i>
                                {% endfor %}
                                {% for i in product['item'].rating|round ..4 %}
                                    <i style="color: #ffa900" class="far fa-star"></i>
                                {% endfor %}
                                <a href="{{ path('comments', {name: product['category'], link: product['item'].link, id: product['item'].id}) }}">
                               <span>
                                {{ product['comments'] }}
                                   {% if product['comments']|last == 1 and not (product['comments'] matches '{11$}') %}
                                       відгук
                                   {% elseif product['comments']|last > 1 and product['comments']|last < 5 and not (product['comments'] matches '{1[2-4]$}') %}
                                       відгука{% else %}відгуків
                                   {% endif %}
                                </span>
                                </a>
                            {% else %}
                                {% for i in 1..5 %}
                                    <i style="color: #ffa900" class="far fa-star"></i>
                                {% endfor %}
                                <a href="{{ path('comments', {name: product['category'], link: product['item'].link, id: product['item'].id}) }}">
                                 <span>
                                        {{ product['comments'] }}
                                     {% if product['comments']|last == 1 and not (product['comments'] matches '{11$}') %}
                                         відгук
                                     {% elseif product['comments']|last > 1 and product['comments']|last < 5 and not (product['comments'] matches '{1[2-4]$}') %}
                                         відгука{% else %}відгуків
                                     {% endif %}
                                </span>
                                </a>
                            {% endif %}
                        </div>
                        <h3 class="card-title">
                            <a href="{{ path('product', {name: product['category'], link: product['item'].link, id: product['item'].id}) }}">
                                <strong>{{ product['item'].name }}</strong>
                            </a>
                        </h3>

                        <div class="card-old-price">
                            {% if product['item'].discount is not empty %}
                                <s>{{ product['item'].unitPrice }} ₴</s>
                            {% endif %}
                        </div>
                        {% if product['item'].discount is not empty %}
                            <div class="card-price-discount">
                                <span>{{ (product['item'].unitPrice * (100 - product['item'].discount)/100)|round(0, 'floor') }}</span>
                                <span>₴</span>
                            </div>
                        {% else %}
                            <div class="card-price">
                                <span>{{ product['item'].unitPrice }}</span>
                                <span>₴</span>
                            </div>
                        {% endif %}

                        {% if app.session.has('cart') %}
                            {% if product['item'].id in app.session.get('cart').products|keys %}
                                {% set card_btn_cart = 'active js-cart' %}
                            {% else %}
                                {% set card_btn_cart = 'js-add-product' %}
                            {% endif %}
                        {% else %}
                            {% set card_btn_cart = 'js-add-product' %}
                        {% endif %}
                        <div class="card-buy">
                            <button class="buy-btn {{ card_btn_cart }}"
                                    data-url="{{ path('cart_add', {id: product['item'].id}) }}" onclick="window.addProduct(event)">
                                <i class="fas fa-shopping-cart"></i>
                                <span>Купить</span>
                            </button>
                        </div>
                        <div class="card-availability">
                        </div>
                    </div>


                </div>
            {% endfor %}
        </div>
    </div>
    <div >
        {% include 'catalog/filters/_pagination.html.twig' %}
    </div>
</div>
{% else %}
<div class="container_viewed_empty">
    <div class="container_viewed_body">
        <svg height="240" viewBox="0 0 240 240" width="240" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
            <clipPath id="a">
                <path d="m0 0h240v240h-240z"/>
            </clipPath>
            <g clip-path="url(#a)">
                <path d="m204.461 18.6732c14.289 4.5575 26.176 20.7807 26.162 35.8473-.082 22.6146-23.688 28.9758-40.967 35.8268-13.296 5.2507-26.503 13.1227-33.315 25.6967-3.965 7.278-5.477 15.431-7.269 23.517-4.422 20.467-10.279 41.009-21.742 58.512s-28.937 31.932-49.6056 35.618c-5.1911.96-10.5593 1.17-15.6926.134-11.327-2.085-21.0223-9.575-28.487-18.253-10.567-12.307-17.6966-27.406-20.4157-43.414-2.4534-14.881-1.056-30.802 7.0076-43.672 11.4111-18.283 33.3583-26.632 53.9737-33.3449 20.4901-6.6834 42.5186-14.1262 55.1676-31.6449 3.878-5.4073 6.643-11.6093 10.521-17.0166 11.478-16.3177 31.848-27.9937 51.921-29.1614 4.809-.3415 9.043.2452 12.741 1.355z" fill="#f5f5f5"/>
                <path d="m108.338 232.891c.036-.213.426-.781-.071-.994-2.38-1.066-10.8329-1.883-13.4612-2.273.1065 1.456-.8525 3.161-1.7759 3.232-.9945.071-2.8414.674-4.6883-.64-.9945-.71-2.8415-2.273-5.6829-2.735-.2841 3.375-.5683 5.932 1.2431 5.932 3.0901-.036 23.8682.035 24.4362-2.522z" fill="#008363"/>
                <path d="m108.481 146.833c-1.03 15.734-14.3847 81.762-14.3847 81.762s14.7047 2.06 14.3847 3.409c-.355 1.386-20.8845 2.06-23.939 2.06-3.09 0-1.3852-6.038-.9234-14.242.4617-8.205 1.3852-31.256 3.1966-44.255 1.8114-13 6.6063-25.999 6.6063-25.999z" fill="#eec0bb"/>
                <path d="m108.409 232.004c.249-1.172-10.3353-2.842-13.4964-3.303.1065 1.456 1.6693 4.12.7459 4.191-.9945.071-5.9315-.249-7.7429-1.563-.9945-.71-2.2731-2.309-5.1145-2.77-.2842 3.374-.5683 5.931 1.2431 5.931 3.019.036 23.7618.107 24.3648-2.486z" fill="#da3404"/>
                <path d="m124.204 234.164c.037-.184.443-.675-.074-.859-2.471-.92-11.25-1.626-13.98-1.963.111 1.257-.885 2.73-1.844 2.791-1.033.061-2.951.583-4.869-.552-1.033-.614-2.951-1.963-5.9023-2.362-.2951 2.914-.5902 5.122 1.2911 5.122 3.2462-.03 24.7882.031 25.3782-2.177z" fill="#008363"/>
                <path d="m123.753 147.968c-1.03 15.735-14.384 81.762-14.384 81.762s14.704 2.06 14.384 3.41c-.355 1.385-20.884 2.06-23.9388 2.06-3.09 0-1.3851-6.038-.9234-14.243.4617-8.204 1.3852-31.255 3.1962-44.255 1.812-12.999 6.607-25.999 6.607-25.999z" fill="#eec0bb"/>
                <path d="m121.581 14.8366 26.163-4.5913c2.683-.1458 3.142 9.4012.459 9.5105l-26.375-2.077c-.388-.8016-.459-1.749-.247-2.8422z" fill="#1c398e"/>
                <path d="m132.349 13.1436s-.107-1.2431.781-1.5628c.853-.3552.959.1421.959.1421s.142-.3197.711-.4618c.568-.142.923.1421.923.1421s.178-.3552.746-.3552.71.2487.71.2487.427-.3197.782-.2842 1.136.4973 1.207 1.1721c.071.6393.356 1.1721.107 1.2786-.249.1066-5.115 1.2076-5.115 1.2076s-.284-.8879-.781-1.1365c-.462-.3197-1.03-.3907-1.03-.3907z" fill="#eec0bb"/>
                <path d="m144.459 47.0628c-.604.6038-1.527 1.3142-2.628 1.5628-1.705.3552-4.227-.3552-6.962-2.4862-.248-4.0846-.71-11.6498-.887-12.5378-.214-1.2431-2.842-12.7863-2.842-14.7043 0-1.9535 1.705-4.7949 3.303-5.008 1.599-.2131 3.41 3.6583 3.659 5.4697.213 1.8114 1.385 6.6063 3.09 11.6498 1.456 4.2266 2.841 11.4367 3.267 16.054z" fill="#eec0bb"/>
                <path d="m142.897 60.1686c-2.984 1.5983-16.871.4618-16.871.4618l-5.932-13.3547 14.953 1.4918s-.071-1.0656-.142-2.6283c2.735 2.131 5.257 2.8414 6.962 2.4862 1.101-.2486 2.024-.9235 2.628-1.5628.071.8169.142 1.5273.142 2.1666.107 4.0845 1.243 9.3411-1.74 10.9394z" fill="#da3404"/>
                <path d="m147.23 68.1611c-8.205.9235-18.007-3.8714-18.007-3.8714s-.214 2.2731-1.599 4.5462c-1.385 2.2732-4.795 3.4098-5.008 4.5463-.213 1.1366 6.393 18.7178 7.53 35.3398 1.137 16.658.462 41.521.462 41.521s-7.068 2.06-11.401 2.734c-4.334.675-9.803 3.872-18.257 2.522-8.4528-1.385-18.007.924-27.8099.675-9.8029-.213-17.5458-2.735-18.2561-6.606-.6748-3.872 5.008-7.068 9.5898-12.325 4.5462-5.257 7.068-17.794 13.4612-30.545 6.3932-12.7865 20.7423-34.0617 20.7423-34.0617s-1.1365-3.8003-1.3852-9.7318c-.2131-5.9315 1.3852-10.1936 4.7949-15.0595 0 0 19.286-1.4918 22.341-.5683 3.09.9235 7.636 3.6583 12.218 5.5763 4.475 1.9179 10.868 3.8004 11.046 3.8714 0-.071-.142-.9945-.284-2.2376 2.734 2.0955 7.032 3.4452 11.046 1.5628.177 6.997-3.304 11.2236-11.224 12.1115z" fill="#da3404"/>
                <path d="m120.449 8.59658c1.954 1.38519 2.735 4.22662 2.948 5.82492.214 1.5983 0 2.2731.214 2.9479.213.6749 2.166 1.7049 2.273 2.5218.106.7814-1.386 1.1366-1.386 1.1366s0 2.7348-.461 5.2566c-.462 2.5217-5.47 4.3331-5.47 4.3331s-.213 6.7129.462 10.2647c.675 3.5517 2.841 5.2566 5.363 6.3931 0 0-10.62 1.5983-15.628 1.3852s-6.713-.8169-6.713-.8169 4.795-4.3331 5.115-8.3111c.355-3.978.213-9.0215 0-12.8929-.213-3.8715-2.273-12.3247 3.196-16.65784 5.506-4.33316 10.087-1.38518 10.087-1.38518z" fill="#eec0bb"/>
                <path d="m122.332 10.2664c.32-1.06553.107-2.20209-.604-3.09003-1.314-1.5983-3.481-3.12557-5.434-3.51626-2.415-.46173-6.074-1.91796-9.732 1.27864-1.882 1.63381-3.09 4.19109-6.8548 3.94246-3.7649-.2131-5.5052 2.41519-7.9204 5.29219-2.3797 2.8414-5.2566 1.7048-8.2046 3.4097-2.948 1.7048-3.0901 4.3331-6.038 6.1445-2.948 1.8114-6.2867.5683-8.2046 2.3797-1.9535 1.8114.1065 2.06-2.7349 4.1201-2.8414 2.06-3.5517 0-7.4232 2.1665-3.8714 2.1666-1.3852 3.5518-4.9014 5.2567-3.5518 1.7048-5.079-.3907-7.7429 2.3796-2.7348 2.8415-.1065 4.2267-3.09 7.6364-2.948 3.4097-4.5463.4617-5.9315 4.6883-1.2431 3.8004 3.7649 2.8414 3.5518 5.4697s-1.4917 4.4397.6748 6.2866c2.6639 2.2377 3.4097-1.03 7.2812-.5682 3.8714.4617 7.7428.5682 9.3411-3.8715s3.6583-5.3631 7.1746-4.6883c3.5518.6748 5.9314.1065 7.6363-2.2731 1.7049-2.3797 2.3797-4.2266 6.8549-4.3332 4.4397-.1065 5.5763-1.4917 6.9615-3.8714s4.12-3.5518 7.1746-3.3032c3.09.2131 4.9014-.2131 6.0375-2.7348 1.137-2.5218 1.492-5.1146 4.227-5.3632 2.735-.2131 3.872-1.3852 5.115-3.8714 1.243-2.5218 2.273-2.948 4.439-2.8415 2.167.1066 3.872-3.09 3.872-3.09l-2.025-6.4997s4.902 1.7048 4.866-.9945c0-4.0135 1.172-4.0491 1.634-5.5408z" fill="#591d06"/>
                <path d="m123.682 15.949 26.318-4.4752c2.7-.1421 3.162 9.1635.462 9.2701l-26.532-2.0245c-.39-.7814-.497-1.7049-.248-2.7704z" fill="#1c398e"/>
                <path d="m118.537 22.4835v-4.654c-.278-.267-1.426-1.2207-2.747-.9537-1.53.3052-2.016 2.7466-1.356 4.2344.626 1.4496 2.191 1.8692 4.103 1.3733z" fill="#eec0bb"/>
                <path d="m158.453 56.0493c-4.049 1.8824-8.311.5328-11.046-1.5628-.284-1.989-.675-4.8659-.959-6.3221-.462-2.3797-3.516-21.0265-3.978-22.4827-.426-1.4563-1.563-2.1311-2.309-2.877-.781-.8169-2.024-3.1255-2.024-3.1255s2.593.1065 2.699-2.0245c.036-.7459-.462-2.2021-1.243-3.1256-.568-.6393-1.421-.8524-2.095-.9235.177-1.5627 1.846-1.3851 1.846-1.3851s.711-.3197 1.35-.3907c.604-.0711 1.669.3551 1.669.3551s.427-.3906 1.457-.1065c.675.1776 3.267 2.7349 3.551 4.2266.285 1.5273.711 4.9014 1.173 6.0025.426 1.1366 9.447 25.5017 9.909 32.9604-.036.2842 0 .5328 0 .7814z" fill="#eec0bb"/>
                <path d="m123.753 233.176c.248-1.172-10.336-2.842-13.497-3.303.107 1.456 1.669 4.12.746 4.191-.995.071-5.931-.249-7.743-1.563-.994-.711-2.273-2.309-5.1144-2.771-.2842 3.375-.5683 5.932 1.2431 5.932 3.0193 0 23.7973.071 24.3653-2.486z" fill="#da3404"/>
                <path d="m147.202 209.72c.551-17.265-6.635-22.752-12.762-22.724-5.534-.03-12.328.703-18.799-3.645-.605-.403-.629-1.325.001-1.707 4.374-2.346 9.896-4.484 14.713-3.887 5.966.806 10.695 5.003 13.374 7.765.753.815 1.964-.085 1.434-1.135-1.999-4.713-5.383-6.446-8.334-9.11-3.606-3.204-9.373-5.167-13.152-7.999-5.927-4.544-9.568-10.838-13.036-17.506-.383-.638.099-1.432.877-1.401 6.411.336 10.474 1.824 15.673 6.474 4.494 3.972 11.937 15.728 15.654 19.668.704.679 1.877.102 1.532-.86-2.27-8.029-10.912-18.424-14.712-27.299-5.06-11.526-3.882-20.637-.358-29.195.346-.745 1.532-.86 1.692.013 2.49 11.208 10.963 13.44 14.064 40.875.234 1.933.627 6.446 1.282 6.987.889.766 1.235.022 1.754-1.096 2.906-7.715.342-47.754 21.989-60.958.766-.43 1.742.151 1.445 1.033-6.335 23.375 9.426 26.249-21.511 68.699-.086.186-.395.607-.482.794-.767 2.137.617 2.571 1.345 2.464 3.966-.493 18.924-28.051 49.285-24.679.778.031 1.123.993.592 1.649-7.378 8.08-15.126 15.982-24.985 20.143-6.104 2.657-14.182 3.231-19.804 6.801-4.992 3.189-7.7 9.747-6.133 15.39.296.825 1.308 1.082 1.655.337 2.843-4.9 9.601-8.723 14.815-10.44 5.67-1.726 10.339-1.541 15.96-1.697.778.031 1.259.944.864 1.552-11.718 16.929-28.894 3.703-31.2 23.77-.038.324-.347.745-.618.843-3.361.896-6.536 1.881-6.448-1.719" fill="#00896c"/>
                <path d="m137.963 205.534 25.761-.339c1.184-.041 1.032.947.915 2.04l-5.111 23.604c-.187.882-1.053 1.521-1.913 1.455l-12.557.062c-.752-.102-1.286-.628-1.531-1.367l-6.075-24.465c-.283-.493.044-.952.511-.99z" fill="#1c398e"/>
            </g>
        </svg>
        <h2>
            У вас ще нема переглянутих товарів.
        </h2>
        <p>
            Ми додамо інформацію, як тільки ви перегляньте сторінку товару.
        </p>
        <a class="viewed-btn" href="{{ path('catalog') }}">
            Перейти на головну сторінку
        </a>
    </div>
</div>
{% endif %}
