{% for message in app.flashes('info') %}
    <div class="help-inline2">
        {{ message }}
    </div>
{% endfor %}

{% if app.session.has('wish') %}
    <div class="user-container">
        <div class="compare-head">
            <h2>Товари в бажаному</h2>
        </div>

        <div class="btn-sup">
            <button class="btn-clear js-wish-clear" data-url="{{ path('wish_clear') }}">
                <i class="fas fa-trash-alt"></i>
                Очистити список
            </button>

            <a class="btn-back" href="{{ path('catalog') }}"><span>Продовжити покупки</span></a>
        </div>
        <div class="wish-products">
            {% for product in products %}
                <div class="card">

                    <div class="product-img">
                        <div class="card-block">

                            {% if app.session.has('compare') %}
                                {% if product['item'].id in app.session.get('compare').items|keys %}
                                    {% set card_btn_comp = 'active js-comp' %}
                                {% else %}
                                    {% set card_btn_comp = 'js-compare-product' %}
                                {% endif %}
                            {% else %}
                                {% set card_btn_comp = 'js-compare-product' %}
                            {% endif %}
                            <button class="btn-remove js-wish-remove"
                                    data-url="{{ path('wish_remove', {id: product['item'].id}) }}">
                                <i class="fas fa-times"></i>
                            </button>
                            <button class="compare {{ card_btn_comp }}"
                                    data-url="{{ path('compare_add', {id: product['item'].id}) }}" onclick="window.compareProduct(event)">
                                <i class="fas fa-balance-scale"></i>
                            </button>
                        </div>
                        <a href="{{ path('product', {name: product['category'], link: product['item'].link, id: product['item'].id}) }}">
                            <img class="card-img"
                                 src="{{ asset(product['item'].mainImage| assets_image_path | imagine_filter('cart_univers2')) }}"
                                 alt="{{ product['item'].mainImage }}">
                        </a>
                    </div>
                    <div class="card-body">
                        <div class="card-comment">
                            {% if product['comments'] == 0 %}
                                <a href="{{ path('comments', {name: product['category'], link: product['item'].link, id: product['item'].id}) }}">
                                    <i style="color: silver" class="far fa-comments"></i>
                                    <span>залишити відгук</span>
                                </a>
                            {% elseif product['item'].rating == 0 %}
                                {% for i in 1..5 %}
                                    <i style="color: #ffa900" class="far fa-star"></i>
                                {% endfor %}
                                <a href="{{ path('comments', {name: product['category'], link: product['item'].link, id: product['item'].id}) }}">
                                <span>
                                {{ product['comments'] }}
                                    {% if product['comments']|last == 1 and not (product['comments'] matches '{11$}') %}
                                        відгук
                                    {% elseif product['comments']|last > 1 and product['comments']|last < 5 and not (product['comments'] matches '{1[2-4]$}') %}
                                        відгука{% else %}відгуків
                                    {% endif %}
                                </span>
                                </a>
                            {% elseif product['item'].rating|round == 5 %}
                                {% set i = 1 %}
                                {% for i in 1..product['item'].rating|round %}
                                    <i style="color: #ffa900" class="fas fa-star"></i>
                                {% endfor %}
                                <a href="{{ path('comments', {name: product['category'], link: product['item'].link, id: product['item'].id}) }}">
                               <span>
                                {{ product['comments'] }}
                                   {% if product['comments']|last == 1 and not (product['comments'] matches '{11$}') %}
                                       відгук
                                   {% elseif product['comments']|last > 1 and product['comments']|last < 5 and not (product['comments'] matches '{1[2-4]$}') %}
                                       відгука{% else %}відгуків
                                   {% endif %}
                                </span>
                                </a>
                            {% elseif product['item'].rating|round != 0 %}
                                {% set i = 1 %}
                                {% for i in 1..product['item'].rating|round %}
                                    <i style="color: #ffa900" class="fas fa-star"></i>
                                {% endfor %}
                                {% for i in product['item'].rating|round ..4 %}
                                    <i style="color: #ffa900" class="far fa-star"></i>
                                {% endfor %}
                                <a href="{{ path('comments', {name: product['category'], link: product['item'].link, id: product['item'].id}) }}">
                               <span>
                                {{ product['comments'] }}
                                   {% if product['comments']|last == 1 and not (product['comments'] matches '{11$}') %}
                                       відгук
                                   {% elseif product['comments']|last > 1 and product['comments']|last < 5 and not (product['comments'] matches '{1[2-4]$}') %}
                                       відгука{% else %}відгуків
                                   {% endif %}
                                </span>
                                </a>
                            {% else %}
                                {% for i in 1..5 %}
                                    <i style="color: #ffa900" class="far fa-star"></i>
                                {% endfor %}
                                <a href="{{ path('comments', {name: product['category'], link: product['item'].link, id: product['item'].id}) }}">
                                 <span>
                                        {{ product['comments'] }}
                                     {% if product['comments']|last == 1 and not (product['comments'] matches '{11$}') %}
                                         відгук
                                     {% elseif product['comments']|last > 1 and product['comments']|last < 5 and not (product['comments'] matches '{1[2-4]$}') %}
                                         відгука{% else %}відгуків
                                     {% endif %}
                                </span>
                                </a>
                            {% endif %}
                        </div>
                        <h3 class="card-title">
                            <a href="{{ path('product', {name: product['category'], link: product['item'].link, id: product['item'].id}) }}">
                                <strong>{{ product['item'].name }}</strong>
                            </a>
                        </h3>

                        <div class="card-old-price">
                                {% if product['item'].discount is not empty %}
                                    <s>{{ product['item'].unitPrice }} ₴</s>
                                {% endif %}
                        </div>
                        {% if product['item'].discount is not empty %}
                            <div class="card-price-discount">
                                <span>{{ (product['item'].unitPrice * (100 - product['item'].discount)/100)|round(0, 'floor') }}</span>
                                <span>₴</span>
                            </div>
                        {% else %}
                            <div class="card-price">
                                <span>{{ product['item'].unitPrice }}</span>
                                <span>₴</span>
                            </div>
                        {% endif %}

                        {% if app.session.has('cart') %}
                            {% if product['item'].id in app.session.get('cart').products|keys %}
                                {% set card_btn_cart = 'active js-cart' %}
                            {% else %}
                                {% set card_btn_cart = 'js-add-product' %}
                            {% endif %}
                        {% else %}
                            {% set card_btn_cart = 'js-add-product' %}
                        {% endif %}
                        <div class="card-buy">
                            <button class="buy-btn {{ card_btn_cart }}"
                                    data-url="{{ path('cart_add', {id: product['item'].id}) }}" onclick="window.addProduct(event)">
                                <i class="fas fa-shopping-cart"></i>
                                <span>Купить</span>
                            </button>
                        </div>
                        <div class="card-availability">
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>

    </div>
{% else %}
    <div class="user-container">
        <div class="wish-head">
            <h2>Товари в бажаному</h2>
        </div>

        <div class="body-info">
            <h1>Ви не додали жодного товару до «Бажаного». Ви можете додати товари в <a href="{{ path('catalog') }}">каталозi</a>.
            </h1>
        </div>
    </div>
{% endif %}

