{% extends 'base3.html.twig' %}

    {% block stylesheets %}
        {{ parent() }}
        <link rel="stylesheet" href="{{ asset('css/main3.css') }}">
    {% endblock %}

{% block body %}
    <div id="dark"></div>
    {% for message in app.flashes('info') %}
        <div class="help-inline">
            {{ message }}
        </div>
    {% endfor %}
    <!-- Page Content -->
    <div class="layout">

        <div class="container">
        <!-- Category -->
            <aside class="category">
                    <ul id="tabs" class="tabs">
                        {% for category in categories %}
                            <li class="dropdown">
                                <a href="{{ path('category', {name: category.name}) }}">{{ category.name }}
                                    <noindex>
                                        <aside class="arrow"></aside>
                                    </noindex>
                                </a>
                                <div class="dropdown-menu">
                                    <div class="sub-category">
                                        <ul class="sub-tabs">
                                            <li><a href="#">{{ category.name }}asdasdasdasdasda sdasdasdasdadasdasd</a></li>
                                            <li><a href="#">{{ category.name }}</a></li>
                                            <li><a href="#">{{ category.name }}</a></li>
                                            <li><a href="#">{{ category.name }}</a></li>
                                        </ul>

                                        <ul class="sub-tabs">
                                            <li><a href="#">{{ category.name }}</a></li>
                                            <li><a href="#">{{ category.name }}</a></li>
                                            <li class="child-tabs"><a href="#">{{ category.name }}</a></li>
                                            <li class="child-tabs">
                                                <a href="#">{{ category.name }}</a>
                                                <ul>
                                                    <li><a href="#">{{ category.name }}</a></li>
                                                    <li><a href="#">{{ category.name }}</a></li>
                                                </ul>
                                            </li>
                                        </ul>

                                        <ul class="sub-tabs">
                                            <li><a href="#">{{ category.name }}</a></li>
                                            <li class="child-tabs"><a href="#">{{ category.name }}</a></li>
                                            <li class="child-tabs">
                                                <a href="#">{{ category.name }}</a>
                                                <ul>
                                                    <li><a href="#">{{ category.name }}</a></li>
                                                    <li><a href="#">{{ category.name }}</a></li>
                                                </ul>
                                            </li>
                                            <li><a href="#">{{ category.name }}</a></li>
                                        </ul>

                                        <ul class="sub-tabs">
                                            <li><a href="#">{{ category.name }}</a></li>
                                            <li><a href="#">{{ category.name }}</a></li>
                                            <li><a href="#">{{ category.name }}</a></li>
                                            <li><a href="#">{{ category.name }}</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </li>
                        {% endfor %}
                    </ul>
            </aside>

            <!-- Slider -->
            <div class="slide-container">
                <div class="slider">
                    <div class="item">
                        <img src="{{ asset('images/banner-1.jpg') }}" alt="Первый слайд">
                    </div>

                    <div class="item">
                        <img src="{{ asset('images/banner-2.jpg') }}" alt="Второй слайд">
                    </div>

                    <div class="item">
                        <img src="{{ asset('images/banner-3.jpg') }}" alt="Третий слайд">
                    </div>

                    <a class="prev" >&#10094;</a>
                    <a class="next" >&#10095;</a>
                </div>

                <div class="slider-dots">
                    <span class="slider-dots_item" data-pos="1"></span>
                    <span class="slider-dots_item" data-pos="2"></span>
                    <span class="slider-dots_item" data-pos="3"></span>
                </div>
            </div>
            <!-- Products -->
            <div class="product">
                <h2 class="product-heading">
                    <i class="far fa-star"></i>
                    <span>Новинки</span>
                </h2>
                {% for product in product_pager.currentPageResults %}
                    <div class="card">

                        <div class="product-img">
                            <div class="card-block">
                                {% if app.session.has('wish') %}
                                    {% if product.id in app.session.get('wish').items|keys %}
                                        {% set card_btn_wish = 'active js-wish' %}
                                    {% else %}
                                        {% set card_btn_wish = 'js-wish-product' %}
                                    {% endif %}
                                {% else %}
                                    {% set card_btn_wish = 'js-wish-product' %}
                                {% endif %}

                                {% if app.session.has('compare') %}
                                    {% if product.id in app.session.get('compare').items|keys %}
                                        {% set card_btn_comp = 'active js-comp' %}
                                    {% else %}
                                        {% set card_btn_comp = 'js-compare-product' %}
                                    {% endif %}
                                {% else %}
                                    {% set card_btn_comp = 'js-compare-product' %}
                                {% endif %}
                                <button class="wish {{ card_btn_wish }}"
                                        data-url="{{ path('wish_add', {id: product.id}) }}">
                                    <i class="fas fa-heart"></i>
                                </button>
                                <button class="compare {{ card_btn_comp }}"
                                        data-url="{{ path('compare_add', {id: product.id}) }}">
                                    <i class="fas fa-balance-scale"></i>
                                </button>
                            </div>
                            <a href="{{ path('product', {name: product.category.name, link: product.link}) }}">
                                <img class="card-img"
                                src="{{ asset(product.mainImage| product_image_path | imagine_filter('thumb_cart_univers')) }}"
                                            alt="">
                            </a>
                        </div>
                        <div class="card-body">
                            <div class="card-comment">
                                <a href="">
                                    <span>отсавить отзыв</span>
                                    <i class="far fa-comment"></i>
                                </a>
                            </div>
                            <h3 class="card-title">
                                <a href="{{ path('product', {name: product.category.name, link: product.link}) }}">
                                    <strong>{{ product.name }}</strong>
                                    asdasdasdas-asdasd-asdad
                                </a>
                            </h3>
                            <div class="card-old-price">
                                <s>1000 ₴</s>
                            </div>
                            <div class="card-price">
                                <span>{{ product.unitPrice }}</span>
                                <span>₴</span>
                            </div>

                            {% if app.session.has('cart') %}
                                {% if product.id in app.session.get('cart').products|keys %}
                                    {% set card_btn_cart = 'active js-cart' %}
                                {% else %}
                                    {% set card_btn_cart = 'js-add-product' %}
                                {% endif %}
                            {% else %}
                                {% set card_btn_cart = 'js-add-product' %}
                            {% endif %}
                            <div class="card-buy">
                                <button class="buy-btn {{ card_btn_cart }}"
                                        data-url="{{ path('cart_add', {id: product.id}) }}">
                                    <i class="fas fa-shopping-cart"></i>
                                    <span>Купить</span>
                                </button>
                            </div>
                            <div class="card-availability">
                                <span>Есть в наличие</span>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>

            <div class="product">
                <h2 class="product-heading">
                    <i class="far fa-eye"></i>
                    <span>Просмотренные товары</span>
                </h2>
                {% for product in product_pager.currentPageResults %}
                    <div class="card">

                        <div class="product-img">
                            <div class="card-block">
                                <button class="wish">
                                    <i class="far fa-heart"></i>
                                </button>
                            </div>
                            <a href="">
                                <img class="card-img"
                                     src="{{ asset(product.mainImage| product_image_path | imagine_filter('thumb_cart_univers')) }}"
                                     alt="">
                            </a>
                        </div>
                        <div class="card-body">
                            <div class="card-comment">
                                <a href="">
                                    <span>отсавить отзыв</span>
                                    <i class="far fa-comment"></i>
                                </a>
                            </div>
                            <h3 class="card-title">
                                <a href="{{ path('product', {name: product.category.name, link: product.link}) }}">
                                    <strong>{{ product.name }}</strong>
                                    asdasdasdas-asdasd-asdad
                                </a>
                            </h3>
                            <div class="card-old-price">
                                <s>1000 ₴</s>
                            </div>
                            <div class="card-price">
                                <span>1000 </span>
                                <span>₴</span>
                            </div>
                            <div class="card-buy">
                                <button class="buy-btn">
                                    <i class="fas fa-shopping-cart"></i>
                                    <span>Купить</span>
                                </button>
                            </div>
                            <div class="card-availability">
                                <span>Есть в наличие</span>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>

            <div class="product">
                <h2 class="product-heading">
                    <i class="fas fa-shopping-basket"></i>
                    <span>Пользуется большим спросом</span>
                </h2>
                {% for product in product_pager.currentPageResults %}
                    <div class="card">

                        <div class="product-img">
                            <div class="card-block">
                                <button class="wish">
                                    <i class="far fa-heart"></i>
                                </button>
                            </div>
                            <a href="">
                                <img class="card-img"
                                     src="{{ asset(product.mainImage| product_image_path | imagine_filter('thumb_cart_univers')) }}"
                                     alt="">
                            </a>
                        </div>
                        <div class="card-body">
                            <div class="card-comment">
                                <a href="">
                                    <span>отсавить отзыв</span>
                                    <i class="far fa-comment"></i>
                                </a>
                            </div>
                            <h3 class="card-title">
                                <a href="{{ path('product', {name: product.category.name, link: product.link}) }}">
                                    <strong>{{ product.name }}</strong>
                                    asdasdasdas-asdasd-asdad
                                </a>
                            </h3>
                            <div class="card-old-price">
                                <s>1000 ₴</s>
                            </div>
                            <div class="card-price">
                                <span>1000 </span>
                                <span>₴</span>
                            </div>
                            <div class="card-buy">
                                <button class="buy-btn">
                                    <i class="fas fa-shopping-cart"></i>
                                    <span>Купить</span>
                                </button>
                            </div>
                            <div class="card-availability">
                                <span>Есть в наличие</span>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>

        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/catalog.js') }}"></script>
{% endblock %}