{% extends 'base.html.twig' %}

    {% block stylesheets %}
        {{ parent() }}
        <link rel="stylesheet" href="{{ asset('css/compare.css') }}">
    {% endblock %}

{% block body %}
    {#{{ app.session.remove('compare') }}#}
    {% if app.session.has('compare') %}
    <div id="product-compare" class="container mt-4">
        <div class="row">
            <div id="content" class="col-sm-12">
                <h1>Product Comparison</h1>
                    <div class="table-responsive">
                        <table class="table table-bordered">
                            <thead>
                            <tr>
                                <td class=text-center" colspan="{{ products|length +1 }}"><strong>Product Details</strong>
                                    <a href="{{ path('compare_clear') }}" class="btn-danger float-right">Clear Compare List</a></td>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                            <tr class="pull-center">
                                <td></td>
                                {% for product in products %}
                                    <td>
                                        <a type="button" class="btn-danger js-add-product"
                                           data-url="{{ path('cart_add', {id: product['item'].id}) }}"><i class="fas fa-shopping-cart"></i></a>
                                        <a href="{{ path('compare_remove', {id: product['item'].id}) }}" class="btn-danger"><i class="fa fa-trash"></i></a></td>
                                {% endfor %}
                            </tr>
                                <td>Product</td>
                                {% for product in products %}
                                    <td><a href="{{ path('product', {name: product['category'], link: product['item'].link}) }}"><strong>{{ product['item'].name }}</strong></a></td>
                                {% endfor %}
                            </tr>
                            <tr>
                                <td>Image</td>
                                {% for product in products %}
                                    <td class="text-center"><img src="{{ product['item'].mainImage | product_image_path }}" alt="{{ product['item'].name }}" class="img-thumbnail" /></td>
                                {% endfor %}
                            </tr>
                            <tr>
                                <td>Price</td>
                                {% for product in products %}
                                    <td>
                                        <span class="price"> <s>$1000</s> <b>${{ product['item'].unitprice }}</b></span>
                                    </td>
                                {% endfor %}
                            </tr>
                            <tr>
                                <td>Availability</td>
                                {% for product in products %}
                                    <td>In Stock</td>
                                {% endfor %}
                            </tr>
                            <tr>
                                <td>Матеріал</td>
                                {% for product in products %}
                                    <td>{{ product['item'].material }}</td>
                                {% endfor %}
                            </tr>
                            <tr>
                                <td>Ширина</td>
                                {% for product in products %}
                                    <td>{{ product['item'].width }} см</td>
                                {% endfor %}
                            </tr>
                            <tr>
                                <td>Висота</td>
                                {% for product in products %}
                                    <td>{{ product['item'].height }} см</td>
                                {% endfor %}
                            </tr>
                            <tr>
                                <td>Глибина</td>
                                {% for product in products %}
                                    <td>{{ product['item'].depth }} см</td>
                                {% endfor %}
                            </tr>
                            <tr>
                                <td>Ширина спального місця</td>
                                {% for product in products %}
                                    {% if (product['item'].productInfo.berthWidth ?? null) is not null %}
                                        <td>{{ product['item'].productInfo.berthWidth }} см</td>
                                    {% endif %}
                                {% endfor %}
                            </tr>
                            <tr>
                                <td>Глибина спального місця</td>
                                {% for product in products %}
                                    {% if (product['item'].productInfo.berthDepth ?? null) is not null %}
                                        <td>{{ product['item'].productInfo.berthDepth }} см</td>
                                    {% endif %}
                                {% endfor %}
                            </tr>
                            <tr>
                                <td>Вид дивану</td>
                                {% for product in products %}
                                    {% if (product['item'].productInfo.sofaType ?? null) is not null %}
                                        <td>{{ product['item'].productInfo.sofaType }}</td>
                                    {% endif %}
                                {% endfor %}
                            </tr>
                            <tr>
                                <td>Состав наполнения</td>
                                {% for product in products %}
                                    {% if (product['item'].productInfo.internalFilling ?? null) is not null %}
                                        <td>{{ product['item'].productInfo.internalFilling }}</td>
                                    {% endif %}
                                {% endfor %}
                            </tr>
                            <tr>
                                <td>Кількість спальних місць</td>
                                {% for product in products %}
                                    {% if (product['item'].productInfo.sleepingPlaces ?? null) is not null %}
                                        <td>{{ product['item'].productInfo.sleepingPlaces }}</td>
                                    {% endif %}
                                {% endfor %}
                            </tr>
                            <tr>
                                <td>Матеріал рами</td>
                                {% for product in products %}
                                    {% if (product['item'].productInfo.frameMaterial ?? null) is not null %}
                                        <td>{{ product['item'].productInfo.frameMaterial }}</td>
                                    {% endif %}
                                {% endfor %}
                            </tr>
                            <tr>
                                <td>Колір</td>
                                {% for product in products %}
                                    {% if (product['item'].productInfo.color ?? null) is not null %}
                                        <td>{{ product['item'].productInfo.color }}</td>
                                    {% endif %}
                                {% endfor %}
                            </tr>
                            <tr>
                                <td>Наявність подушок</td>
                                {% for product in products %}
                                    {% if (product['item'].productInfo.pillows ?? null) is not null %}
                                        <td>{{ product['item'].productInfo.pillows }}</td>
                                    {% endif %}
                                {% endfor %}
                            </tr>
                            <tr>
                                <td>Вага</td>
                                {% for product in products %}
                                    {% if (product['item'].productInfo.weight ?? null) is not null %}
                                        <td>{{ product['item'].productInfo.weight }}</td>
                                    {% endif %}
                                {% endfor %}
                            </tr>
                            <tr>
                                <td>Brand</td>
                                {% for product in products %}
                                    <td>{{ product['item'].brand }}</td>
                                {% endfor %}
                            </tr>
                            <tr>
                                <td>Country</td>
                                {% for product in products %}
                                    <td>{{ product['item'].country }}</td>
                                {% endfor %}
                            </tr>
                            <tr>
                                <td>Warranty</td>
                                {% for product in products %}
                                    <td>{{ product['item'].warranty }}</td>
                                {% endfor %}
                            </tr>
                            </tbody>

                        </table>
                    </div>
            </div>
        </div>
    </div>
    {% else %}
        <div class="row">
            <div class="col-sm-12  col-md-6">
                <h2>No Items in Compare List!</h2>
            </div>
        </div>

    {% endif %}
{% endblock %}


{% block footer %}
    {% if app.session.has('compare') %}
        {{ parent() }}
    {% endif %}
{% endblock %}