{{ form_start(formFilter) }}

{{ form_rest(formFilter) }}
<input type="submit" />
{{ form_end(formFilter) }}

{#<h1>Фильтр</h1>#}
{#method="GET" class="form-src"#}
{#<form>#}
    {#<ul>#}
        {#{% for key, value in options %}#}
            {#<li> {{ key }}#}
                {#<ul>#}
                    {#{% for parameter in value  %}#}
                        {#<li>#}
                            {#<input type="checkbox" value="{{ parameter }}" name="{{ key }}"#}
                                    {#{% if app.request.get( key ) == parameter %} checked="checked" {% endif %}#}
                            {#/>#}
                            {#{{ parameter }}#}
                        {#</li>#}
                    {#{% endfor %}#}
                {#</ul>#}
            {#</li>#}
        {#{% endfor %}#}

        {#<input type="number"  autocomplete="off" name="min" placeholder="min price">#}
        {#<input type="number"  autocomplete="off" name="max" placeholder="max price">#}
    {#</ul>#}
    {#<input type="submit" />#}
{#</form>#}
