{#{% if is_granted('ROLE_USER') %}#}
<div class="popup-body">
    <div  class="popup-content popup-content-comment">
        <div class="message-header">
            <h3>Написати відгук</h3>
        </div>
        <a href="#" class="popup-close close-popup">
            <i class="fas fa-times"></i>
        </a>
        <div class="popup-form">
            {{ form_start(commentForm, { 'attr': {'id': 'comment-form', 'class': 'comment-form'} }) }}
            <h5>Рейтинг:</h5>
            <div class="stars" data-stars="0">
                <svg height="30" width="28" class="star rating" data-rating="1">
                    <polygon points="13.86, 1.54, 4.62, 30.35, 27.72, 12.01, 0, 12.01, 23.1, 30.49" style="fill-rule:nonzero;"/>
                </svg>
                <svg height="30" width="28" class="star rating" data-rating="2">
                    <polygon points="13.86, 1.54, 4.62, 30.35, 27.72, 12.01, 0, 12.01, 23.1, 30.49" style="fill-rule:nonzero;"/>
                </svg>
                <svg height="30" width="28" class="star rating" data-rating="3">
                    <polygon points="13.86, 1.54, 4.62, 30.35, 27.72, 12.01, 0, 12.01, 23.1, 30.49" style="fill-rule:nonzero;"/>
                </svg>
                <svg height="30" width="28" class="star rating" data-rating="4">
                    <polygon points="13.86, 1.54, 4.62, 30.35, 27.72, 12.01, 0, 12.01, 23.1, 30.49" style="fill-rule:nonzero;"/>
                </svg>
                <svg height="30" width="28" class="star rating" data-rating="5">
                    <polygon points="13.86, 1.54, 4.62, 30.35, 27.72, 12.01, 0, 12.01, 23.1, 30.49" style="fill-rule:nonzero;"/>
                </svg>
            </div>
            <div class="form-group">
                <label class="form-label" for="inpDignity">Переваги</label>
                {{ form_widget(commentForm.dignity, { 'attr': {'class': 'form-input', 'id': 'inpDignity'} }) }}
                {% for errorItem in commentForm.dignity.vars.errors %}
                    <span class="help-register">{{ errorItem.message }}</span>
                {% endfor %}
            </div>

            <div class="form-group">
                <label class="form-label" for="inpShortcomings">Недоліки</label>
                {{ form_widget(commentForm.shortcomings, { 'attr': {'class': 'form-input', 'id': 'inpShortcomings'} }) }}
                {% for errorItem in commentForm.shortcomings.vars.errors %}
                    <span class="help-register">{{ errorItem.message }}</span>
                {% endfor %}
            </div>

            <div class="form-group">
                <label class="form-label" for="inpBody">Коментар</label>
                {{ form_widget(commentForm.body, { 'attr': {'class': 'form-textarea', 'id': 'inpBody'} }) }}
                {% for errorItem in commentForm.body.vars.errors %}
                    <span class="help-register">{{ errorItem.message }}</span>
                {% endfor %}
            </div>

            <div class="form-group">
                <label class="form-label" for="inpNickname">Ваше ім'я</label>
                {{ form_widget(commentForm.nickname, { 'attr': {'class': 'form-input', 'id': 'inpNickname'} }) }}
                {% for errorItem in commentForm.nickname.vars.errors %}
                    <span class="help-register">{{ errorItem.message }}</span>
                {% endfor %}
            </div>

            <div class="form-group">
                <label class="form-label" for="inpUser_email">Ваш email</label>
                {{ form_widget(commentForm.user_email, { 'attr': {'class': 'form-input', 'id': 'inpUser_email'} }) }}
                {% for errorItem in commentForm.user_email.vars.errors %}
                    <span class="help-register">{{ errorItem.message }}</span>
                {% endfor %}
            </div>
            {{ form_widget(commentForm.product, { 'attr': {'value': product.id} }) }}
            {{ form_widget(commentForm) }}
{#            <input style="color: #00a157" class="js-remove" type="submit" value="Залишити відгук" />#}
            <div class="button-comment-form">
            <button class="btn-comment-sub" type="submit" value="Залишити відгук" >Залишити відгук</button>
        </div>
            {{ form_end(commentForm) }}
        </div>

{#        {% else %}#}
{#        <div class="popup-body">#}
{#            <div  class="popup-content popup-content-comment">#}
{#                <div class="message-header">#}
{#                    <h3>Увійти в особистий кабінет</h3>#}
{#                </div>#}
{#                <a href="#" class="popup-close close-popup">#}
{#                    <i class="fas fa-times"></i>#}
{#                </a>#}
{#                <div class="popup-form">#}
{#                    <div id="dark"></div>#}
{#                    <div class="container">#}

{#                        <div class="login-body">#}
{#                            <form action="{{ path('app_login') }}" class="form-user-enter" method="post">#}
{#                                {% if error %}#}
{#                                    <div class="login-error">{{ error.messageKey|trans(error.messageData, 'security') }}</div>#}
{#                                {% endif %}#}
{#                                <label class="form-label" for="inpEmail">Эл. почта</label>#}
{#                                <input type="email" autocomplete="off" name="email" id="inpEmail" class="form-input" required autofocus>#}

{#                                <label class="form-label" for="inpPass">Пароль</label>#}
{#                                <input type="password" autocomplete="off" name="password" id="inpPass" class="form-input" required>#}

{#                                <input type="hidden" name="_csrf_token"#}
{#                                       value="{{ csrf_token('authenticate') }}"#}
{#                                >#}
{#                                <div class="checkbox">#}
{#                                    <label>#}
{#                                        <input type="checkbox" name="_remember_me"> Запам'ятати мене#}
{#                                    </label>#}
{#                                </div>#}
{#                                <button class="btn-login" type="submit">Увійти</button>#}
{#                                <div class="user-sub-link"><a class="register-link" href="{{ path('app_register') }}">Зареєструватися</a></div>#}
{#                            </form>#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
{#                    {% endif %}#}
        </div>
</div>


