<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>{% block title %}Craft Bud{% endblock %}</title>
    <link rel="shortcut icon" type="image/x-icon" href="{{ asset('favicon.ico') }}">
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}
</head>
<body>
<div class="wrappers">
<header>
    <div class="container">
        <h1 class="logo">
            <a href="{{ path('catalog') }}">Craft<img class="logo-img" src="{{ asset('build/images/logo.png') }}" alt="">Bud</a>
        </h1>

        <div class="info">
            <a  href="{{ path('info', {'_fragment': 'about'}) }}">Про нас</a><a href="{{ path('info', {'_fragment': 'delivery'}) }}">Доставка і оплата</a><a href="{{ path('info', {'_fragment': 'contacts'}) }}">Контакти</a>
        </div>

        <ul class="nav-icons">
            <li>
                <a href="{{ path('item_compare') }}" class="choose-icons">
                    <i class="fas fa-balance-scale"></i>
                    {#span не трогать поламаешь пробелы учитываются#}
                    <span id="comp"><span class="{{ app.session.has('compare') ? 'badge' : ''}}">{{ app.session.has('compare') ? app.session.get('compare').items|length : '' }}</span></span>
                </a>
            </li>
            <li>
                <a href="{{ path('wish_list') }}" class="choose-icons">
                    <i class="fas fa-heart"></i>
                    {#span не трогать поламаешь пробелы учитываются#}
                    <span id="wish"><span class="{{ app.session.has('wish') ? 'badge' : ''}}">{{ app.session.has('wish') ? app.session.get('wish').items|length : '' }}</span></span>
                </a>
            </li>
            <li>
                <a href="{{ path('user_cart') }}" class="choose-icons">
                    <i class="fas fa-shopping-cart"></i>
                    {#span не трогать поламаешь пробелы учитываются#}
                    <span id="cart"><span class="{{ app.session.has('cart') ? 'badge' : ''}}">{{ app.session.has('cart') ? app.session.get('cart').totalQuantity : '' }}</span></span>
                </a>
            </li>
        </ul>

        <div class="phone-container">
            <div class="phone-list">
                <span class="kievstar">
                    <a href="tel:+38 (096) 735-96-69" >+38 (096) 735 96 69</a>
                </span>
                <br>
                <span class="vodafone">
                    <a href="tel:+38 (066) 735-96-69">+38 (066) 735 96 69</a>
                </span>
            </div>
        </div>

    </div>
</header>
<nav id="main-nav">
    <div class="container">

        <div class="nav-category">
            <button class="btn-category">
                <i class="fas fa-bars"></i>
                <span>Каталог товаров</span>
                <div class="category">
                    <ul id="tabs" class="tabs">
                        {% for main_category in viewCategory.showCategory %}
                            <li class="dropdown">
                                <a href="{{ path('category', {name: main_category.title, id: main_category.id}) }}">{{ main_category.title }}
                                    <noindex>
                                        <aside class="arrow"></aside>
                                    </noindex>
                                </a>
                                <div class="dropdown-menu">
                                    <div class="sub-category">
                                        <ul class="sub-tabs">
                                        {% for sub_category in main_category.__children %}
                                            <li>
                                                <a href="{{ path('category', {name: sub_category.title, id: sub_category.id}) }}">{{ sub_category.title }}</a>
                                                {% if sub_category.__children is not empty %}
                                                    <ul>
                                                    {% for sub_sub_category in sub_category.__children %}
                                                        <li><a href="{{ path('category', {name: sub_sub_category.title, id: sub_sub_category.id}) }}">{{ sub_sub_category.title }}</a></li>
                                                    {% endfor %}
                                                    </ul>
                                                {% endif %}
                                            </li>
                                        {% endfor %}
                                        </ul>
                                        {#<ul class="sub-tabs">#}
                                            {#<li><a href="#">{{ main_category.title }}</a></li>#}
                                            {#<li><a href="#">{{ main_category.title }}</a></li>#}
                                            {#<li class="child-tabs"><a href="#">{{ main_category.title }}</a></li>#}
                                            {#<li class="child-tabs">#}
                                                {#<a href="#">{{ main_category.title }}</a>#}
                                                {#<ul>#}
                                                    {#<li><a href="#">{{ main_category.title }}</a></li>#}
                                                    {#<li><a href="#">{{ main_category.title }}</a></li>#}
                                                {#</ul>#}
                                            {#</li>#}
                                        {#</ul>#}
                                        {#<ul class="sub-tabs">#}
                                            {#<li><a href="#">{{ main_category.title }}</a></li>#}
                                            {#<li class="child-tabs"><a href="#">{{ main_category.title }}</a></li>#}
                                            {#<li class="child-tabs">#}
                                                {#<a href="#">{{ main_category.title }}</a>#}
                                                {#<ul>#}
                                                    {#<li><a href="#">{{ main_category.title }}</a></li>#}
                                                    {#<li><a href="#">{{ main_category.title }}</a></li>#}
                                                {#</ul>#}
                                            {#</li>#}
                                            {#<li><a href="#">{{ main_category.title }}</a></li>#}
                                        {#</ul>#}
                                        {#<ul class="sub-tabs">#}
                                            {#<li><a href="#">{{ main_category.title }}</a></li>#}
                                            {#<li><a href="#">{{ main_category.title }}</a></li>#}
                                            {#<li><a href="#">{{ main_category.title }}</a></li>#}
                                            {#<li><a href="#">{{ main_category.title }}</a></li>#}
                                        {#</ul>#}
                                   </div>
                                </div>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </button>
        </div>

        <div class="nav-menu">
            <a class="side-menu__toggler sidenav-link" href="#side-nav"><i class="fas fa-bars"></i></a>
            <a href="{{ path('catalog') }}">
                <img class="logo-img" src="{{ asset('build/images/wlogo.png') }}" alt="logo">
            </a>
        </div>


        <div class="search-group rounded">
            <form action="{{ path('search') }}" class="form-src" >
                {{ form_widget(productSearch.productNameSearch) }}
                <span class="input-btn">
                    <button  type="submit" class="search-btn"><i class="fas fa-search"></i></button>
                </span>
                <ul class="search-items" id="productsNav"></ul>
            </form>
        </div>

        <div id="user-menu_u44" class="user-menu">
        {% if is_granted('ROLE_USER') %}
            <a href="{{ path('app_account') }}">
                <i class="fas fa-user"></i>
                <span>{{ app.user.name }}</span>
            </a>
            <ul class="user-account">
                <li><a href="{{ path('app_account') }}">Особистий кабінет</a></li>
                <li><a href="{{ path('wish_list') }}">Товари в бажаному</a></li>
                <li><a href="{{ path('app_logout') }}">Вихід</a></li>
            </ul>
        {% else %}
            <a href="{{ path('app_login') }}">
                <i class="fas fa-user"></i>
                <span id="user-cab1">Увійти в особистий кабінет</span>
                <span id="user-cab2">Увійти</span>
            </a>
            <div id="user-enter_u11" class="user-enter">
                <div class="user-enter-header">
                    <h3>Вхід</h3>
                </div>
                <form action="{{ path('app_login') }}" class="form-user-enter" method="post">

                    <label class="form-label" for="inpEmail">Эл. почта</label>
                    <input type="email" autocomplete="off" name="email" id="inpEmail" class="form-input" required autofocus>

                    <label class="form-label" for="inpPass">Пароль</label>
                    <input type="password" autocomplete="off" name="password" id="inpPass" class="form-input" required>

                    <input type="hidden" name="_csrf_token"
                           value="{{ csrf_token('authenticate') }}"
                    >
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" name="_remember_me"> Запам'ятати мене
                        </label>
                    </div>
                    <button class="btn-login" type="submit">Увійти</button>
                </form>
                <div class="user-sub-link"><a class="register-link" href="{{ path('app_register') }}">Зареєструватися</a></div>
            </div>
        {% endif %}
        </div>

    </div>
</nav>
{% include '_side_nav.html.twig' %}
{% block body %}
{% endblock %}

{% block footer %}
<!-- Footer -->
<footer id="main-footer" class="fot-padding">
    <div class="container footer-container">
        <div>
            <ul class="list">
                <li><a href="#">Наш Facebook</a></li>
                <li><a href="#">Наш Instagram</a></li>
                <li><a href="#">Наш ВКонтакте</a></li>
            </ul>
        </div>
        <div>
            <ul class="list">
                <li><a href="{{ path('info', {'_fragment': 'about'}) }}">О нас</a></li>
                <li><a href="{{ path('info', {'_fragment': 'delivery'}) }}">Доставка і оплата</a></li>
                <li><a href="{{ path('info', {'_fragment': 'contacts'}) }}">Контакти</a></li>
            </ul>
        </div>
        <div>
            <ul class="numbers">
                <li><a href="tel:+38 (096) 735-96-69" >+38 (096) 735 96 69</a></li>
                <li><a href="tel:+38 (066) 735-96-69">+38 (066) 735 96 69</a></li>
            </ul>
            <br>
            График работы Call-центра:
            <br>
            с 9:00 до 20:00 без выходных
        </div>
        <div>
            Copyright &copy;2020, All Rights Reserved
        </div>
    </div>
</footer>
{% endblock %}
</div>
</body>
</html>
{% block javascripts %}
    {{ encore_entry_script_tags('app') }}
{% endblock %}