
{% for product in product_pager.items %}

    <div class="card" id="product-{{ product.id }}">
        <div class="product-img">
            <div class="card-block">
                {% if app.session.has('wish') %}
                    {% if product.id in app.session.get('wish').items|keys %}
                        {% set card_btn_wish = 'active js-wish' %}
                    {% else %}
                        {% set card_btn_wish = 'js-wish-product' %}
                    {% endif %}
                {% else %}
                    {% set card_btn_wish = 'js-wish-product' %}
                {% endif %}

                {% if app.session.has('compare') %}
                    {% if product.id in app.session.get('compare').items|keys %}
                        {% set card_btn_comp = 'active js-comp' %}
                    {% else %}
                        {% set card_btn_comp = 'js-compare-product' %}
                    {% endif %}
                {% else %}
                    {% set card_btn_comp = 'js-compare-product' %}
                {% endif %}
                <button class="wish {{ card_btn_wish }}"
                        data-url="{{ path('wish_add', {id: product.id}) }}" onclick="window.wishProduct(event)">
                    <i class="fas fa-heart"></i>
                </button>
                <button class="compare {{ card_btn_comp }}"
                        data-url="{{ path('compare_add', {id: product.id}) }}" onclick="window.compareProduct(event)">
                    <i class="fas fa-balance-scale"></i>
                </button>
            </div>
            {% for category in product.categories[:1] %}
            <a href="{{ path('product', {name: category.title, link: product.link, id: product.id}) }}">
                <img class="card-img"
                     src="{{ asset(product.mainImage| assets_image_path |  imagine_filter('cart_univers2')) }}"
                     alt="{{ product.mainImage }}">
            </a>
            {% endfor %}
        </div>
        {% for category in product.categories[:1] %}
        <div class="card-body">
            <div class="card-comment">
                {% set cComments = 0 %}
                {% for comments in product.comments %}
                {% if comments.isPublished == true %}
                    {% set cComments = cComments + comments|length %}
                {% endif %}
                {% endfor %}
                        {% if cComments == 0 %}
                <a href="{{ path('comments', {name: category.title, link: product.link, id: product.id}) }}">
                    <i style="color: silver" class="far fa-comments"></i>
                    <span>залишити відгук</span>
                </a>
                        {% elseif product.rating == 0 %}
                            {% for i in 1..5 %}
                                <i style="color: #ffa900" class="far fa-star"></i>
                            {% endfor %}
                            <a href="{{ path('comments', {name: category.title, link: product.link, id: product.id}) }}">
                                <span>
                                {{ cComments }}
                                {% if cComments|last == 1 and not (cComments matches '{11$}') %}
                                    відгук
                                {% elseif cComments|last > 1 and cComments|last < 5 and not (cComments matches '{1[2-4]$}') %}
                                    відгука{% else %}відгуків
                                {% endif %}
                                </span>
                            </a>
                        {% elseif product.rating|round == 5 %}
                            {% set i = 1 %}
                            {% for i in 1..product.rating|round %}
                                <i style="color: #ffa900" class="fas fa-star"></i>
                            {% endfor %}
                            <a href="{{ path('comments', {name: category.title, link: product.link, id: product.id}) }}">
                               <span>
                                {{ cComments }}
                                   {% if cComments|last == 1 and not (cComments matches '{11$}') %}
                                       відгук
                                   {% elseif cComments|last > 1 and cComments|last < 5 and not (cComments matches '{1[2-4]$}') %}
                                       відгука{% else %}відгуків
                                   {% endif %}
                                </span>
                            </a>
                        {% elseif product.rating|round != 0 %}
                            {% set i = 1 %}
                            {% for i in 1..product.rating|round %}
                                <i style="color: #ffa900" class="fas fa-star"></i>
                            {% endfor %}
                            {% for i in product.rating|round ..4 %}
                                <i style="color: #ffa900" class="far fa-star"></i>
                            {% endfor %}
                            <a href="{{ path('comments', {name: category.title, link: product.link, id: product.id}) }}">
                               <span>
                                {{ cComments }}
                                   {% if cComments|last == 1 and not (cComments matches '{11$}') %}
                                       відгук
                                   {% elseif cComments|last > 1 and cComments|last < 5 and not (cComments matches '{1[2-4]$}') %}
                                       відгука{% else %}відгуків
                                   {% endif %}
                                </span>
                            </a>
                        {% else %}
                            {% for i in 1..5 %}
                            <i style="color: #ffa900" class="far fa-star"></i>
                        {% endfor %}
                            <a href="{{ path('comments', {name: category.title, link: product.link, id: product.id}) }}">
                                 <span>
                                        {{ cComments }}
                                     {% if cComments|last == 1 and not (cComments matches '{11$}') %}
                                         відгук
                                     {% elseif cComments|last > 1 and cComments|last < 5 and not (cComments matches '{1[2-4]$}') %}
                                         відгука{% else %}відгуків
                                     {% endif %}
                                </span>
                            </a>
                        {% endif %}
            </div>
            {% endfor %}
            <h3 class="card-title">
                {% for category in product.categories[:1] %}
                <a href="{{ path('product', {name: category.title, link: product.link, id: product.id }) }}">
                    <strong>{{ product.name }}</strong>
                </a>
                {% endfor %}
            </h3>
            <div class="card-old-price">
                {% if product.discount is not empty %}
                    <s>{{ product.unitPrice }} ₴</s>
                {% endif %}
            </div>
            {% if product.discount is not empty %}
                <div class="card-price-discount">
                    <span>{{ (product.unitPrice * (100 - product.discount)/100)|round(0, 'floor') }}</span>
                    <span>₴</span>
                </div>
            {% else %}
                <div class="card-price">
                    <span>{{ product.unitPrice }}</span>
                    <span>₴</span>
                </div>
            {% endif %}

            {% if app.session.has('cart') %}
                {% if product.id in app.session.get('cart').products|keys %}
                    {% set card_btn_cart = 'active js-cart' %}
                {% else %}
                    {% set card_btn_cart = 'js-add-product' %}
                {% endif %}
            {% else %}
                {% set card_btn_cart = 'js-add-product' %}
            {% endif %}
            <div class="card-buy">
                <button class="buy-btn {{ card_btn_cart }}"
                        data-url="{{ path('cart_add', {id: product.id}) }}" onclick="window.addProduct(event)">
                    <i class="fas fa-shopping-cart"></i>
                    <span>Купить</span>
                </button>
            </div>
            <div class="card-availability">
                {#<span>Есть в наличие</span>#}
            </div>
        </div>
    </div>
{% endfor %}
