{% extends 'base3-category.html.twig' %}
{% block stylesheets %}
{{ parent() }}
    {{ encore_entry_link_tags('comment') }}
{% endblock %}
{% block body %}
    <div id="dark"></div>
    <div class="container-context">
    <ul class="breadcrumb">
        <li><a href="{{ path('catalog') }}"><i class="fas fa-home"></i></a></li>
        {% for category in tCategory %}
            <li><a href="{{ path('category', {name: category.title, id: category.id}) }}">{{ category.title }}</a></li>
        {% endfor %}
        {% for category in tCategory %}
           <li> <a href="{{ path('product', {name: category.title, link: product.link, id: product.id }) }}">
                {{ product.name }}
            </a></li>
        {% endfor %}
        <a>Comments</a>
    </ul>
        {% for message in app.flashes('success') %}
            <div class="alert alert-success">
                {{ message }}
            </div>
        {% endfor %}
        {% for message in app.flashes('warning') %}
            <div class="alert alert-warning">
                {{ message }}
            </div>
        {% endfor %}
        <div class="head-comments">
            {% if commentProduct is empty %}
                <h3>Додати відгук до товару </h3>
                <li class="code">
                    <strong class="key">Код:</strong>
                    <span class="value">{{ product.id }}</span>
                </li>
            {% else %}
            <h3>Відгуки покупців ({{ commentCount }})</h3>
            <li class="code">
                <strong class="key">Код:</strong>
                <span class="value">{{ product.id }}</span>
            </li>
            {% endif %}
            </div>
    <div class="container-comment-list">
    <div class="product-reviews">
        <div  class="tab-comments">
            {% if commentProduct is empty %}
                <div class="popup-form">
                    {{ form_start(commentForm, { 'attr': {'id': 'comment-form', 'class': 'comment-form'} }) }}
                    <h5 class="rating-text-top">Рейтинг:</h5>
                    <div class="stars" data-stars="0">
                        <svg height="30" width="28" class="star rating" data-rating="1">
                            <polygon points="13.86, 1.54, 4.62, 30.35, 27.72, 12.01, 0, 12.01, 23.1, 30.49" style="fill-rule:nonzero;"/>
                        </svg>
                        <svg height="30" width="28" class="star rating" data-rating="2">
                            <polygon points="13.86, 1.54, 4.62, 30.35, 27.72, 12.01, 0, 12.01, 23.1, 30.49" style="fill-rule:nonzero;"/>
                        </svg>
                        <svg height="30" width="28" class="star rating" data-rating="3">
                            <polygon points="13.86, 1.54, 4.62, 30.35, 27.72, 12.01, 0, 12.01, 23.1, 30.49" style="fill-rule:nonzero;"/>
                        </svg>
                        <svg height="30" width="28" class="star rating" data-rating="4">
                            <polygon points="13.86, 1.54, 4.62, 30.35, 27.72, 12.01, 0, 12.01, 23.1, 30.49" style="fill-rule:nonzero;"/>
                        </svg>
                        <svg height="30" width="28" class="star rating" data-rating="5">
                            <polygon points="13.86, 1.54, 4.62, 30.35, 27.72, 12.01, 0, 12.01, 23.1, 30.49" style="fill-rule:nonzero;"/>
                        </svg>
                    </div>
                    <div class="form-group">
                        <label class="form-label" for="inpDignity">Переваги</label>
                        {{ form_widget(commentForm.dignity, { 'attr': {'class': 'form-input', 'id': 'inpDignity'} }) }}
                        {% for errorItem in commentForm.dignity.vars.errors %}
                            <span class="help-register">{{ errorItem.message }}</span>
                        {% endfor %}
                    </div>

                    <div class="form-group">
                        <label class="form-label" for="inpShortcomings">Недоліки</label>
                        {{ form_widget(commentForm.shortcomings, { 'attr': {'class': 'form-input', 'id': 'inpShortcomings'} }) }}
                        {% for errorItem in commentForm.shortcomings.vars.errors %}
                            <span class="help-register">{{ errorItem.message }}</span>
                        {% endfor %}
                    </div>

                    <div class="form-group">
                        <label class="form-label" for="inpBody">Коментар</label>
                        {{ form_widget(commentForm.body, { 'attr': {'class': 'form-textarea', 'id': 'inpBody'} }) }}
                        {% for errorItem in commentForm.body.vars.errors %}
                            <span class="help-register">{{ errorItem.message }}</span>
                        {% endfor %}
                    </div>

                    <div class="form-group">
                        <label class="form-label" for="inpNickname">Ваше ім'я</label>
                        {% if is_granted('ROLE_USER') %}
                        {{ form_widget(commentForm.nickname, { 'attr': {'class': 'form-input', 'id': 'inpNickname', 'value': user.name} }) }}
                        {% for errorItem in commentForm.nickname.vars.errors %}
                            <span class="help-register">{{ errorItem.message }}</span>
                        {% endfor %}
                        {% else %}
                            {{ form_widget(commentForm.nickname, { 'attr': {'class': 'form-input', 'id': 'inpNickname'} }) }}
                            {% for errorItem in commentForm.nickname.vars.errors %}
                            <span class="help-register">{{ errorItem.message }}</span>
                            {% endfor %}
                        {% endif %}
                    </div>

                    <div class="form-group">
                        <label class="form-label" for="inpUser_email">Ваш email</label>
                        {% if is_granted('ROLE_USER') %}
                        {{ form_widget(commentForm.user_email, { 'attr': {'class': 'form-input', 'id': 'inpUser_email', 'value': user.email} }) }}
                        {% for errorItem in commentForm.user_email.vars.errors %}
                            <span class="help-register">{{ errorItem.message }}</span>
                        {% endfor %}
                        {% else %}
                        {{ form_widget(commentForm.user_email, { 'attr': {'class': 'form-input', 'id': 'inpUser_email', 'type': 'email', 'multiple': 'multiple'} }) }}
                        {% for errorItem in commentForm.user_email.vars.errors %}
                            <span class="help-register">{{ errorItem.message }}</span>
                        {% endfor %}
                        {% endif %}
                    </div>
                    {{ form_widget(commentForm.product, { 'attr': {'value': product.id} }) }}
                    {{ form_widget(commentForm) }}
                    <div class="button-comment-form">
                        <button class="btn-comment-sub" type="submit" value="Залишити відгук" >Залишити відгук</button>
                    </div>
                    {{ form_end(commentForm) }}
                </div>
            {% else %}
                <div class="head-comments-review">
                    <h3>Залишіть свій відгук про цей товар </h3>
                    <button  class="popup-link button-review" href="#user-message"><b>Написати відгук</b></button>
                </div>
            {% for comment in commentProduct %}
                <ul  class="list-comments">
                    <li class="comment">
                            <div class="user-comment">
                            <div class="head-user-comment">
                                <div class="name-user">{{ comment.nickname}}</div>
                                {% set mnths = ['','січень','лютий','березень','квітень','травень','червень','липень','серпень','вересень','жовтень','листопад','грудень'] %}
                                <time>{{comment.publishedDate|date('d ')}}{{mnths[comment.publishedDate|date('n')]}}{{comment.publishedDate|date(' Y H:i:s')}}</time>
                            </div>
                            <div class="review-rating">
                                {% if comment.rating is null %}

                                {% elseif comment.rating == 0 %}

                                {% elseif comment.rating == 5 %}
                                    {% set i = 1 %}
                                    {% for i in i..5 %}
                                        <i style="color: #ffa900" class="fas fa-star"></i>
                                    {% endfor %}
                                {% else %}
                                    {% set i = 1 %}
                                    {% for i in i..comment.rating %}
                                        <i style="color: #ffa900" class="fas fa-star"></i>
                                    {% endfor %}
                                    {% for i in 4..comment.rating %}
                                        <i style="color: silver" class="fas fa-star"></i>
                                    {% endfor %}
                                {% endif %}
                            </div>
                            <div class="user-comment-body">
                                <p>{{comment.body}}
                                </p>
                                {% if comment.dignity is null %}

                            {% else %}
                                <dl class="user-comment-advantages">
                                    <dt class="advantages-label">Достоинства:</dt>
                                    <dd><i style="color: #98d648" class="fa fa-plus" aria-hidden="true"></i> {{comment.dignity}}
                                        {% endif %}
                                    </dd>
                                </dl>
                                {% if comment.shortcomings is null %}

                                {% else %}
                                <dl class="user-comment-advantages">
                                    <dt class="advantages-label">Недостатки:</dt>
                                    <dd><i style="color: red" class="fa fa-minus" aria-hidden="true"></i> {{ comment.shortcomings }}

                                        {% endif %}
                                    </dd>
                                </dl>
                            </div>
                        </div>
                    </li>
                </ul>
            {% endfor %}
            {% endif %}
        </div>
        {% if commentProduct is empty %}
            {% else %}
                <button class="button-more"><b>Показать еще →</b></button>
        {% endif %}
    </div>

        <div class="productCard">
            <div class="product-features">
                <div class="media-comments">
                        {% for category in tCategory %}
                        <a href="{{ path('product', {name: category.title, link: product.link, id: product.id }) }}">
                            <div class="top-container-product">
                        <div class="image-product-comment">
                            <img src="{{ asset(product.mainImage| product_image_path) }}" alt="Первый слайд">
                        </div>
                        <div class="head-name">
                            <h1 class="product-name">{{ product.name }}</h1>
                        </div>
                    </div>
                    </a>
{#                    <div class="top-container-product">#}
{#                        {% for category in tCategory %}#}
{#                            <a href="{{ path('product', {name: category.title, link: product.link, id: product.id }) }}">#}
{#                                    {{ product.name }}#}
{#                                </a>#}
{#                <div class="image-product-comment">#}
{#                    <img src="{{ asset(product.mainImage| product_image_path) }}" alt="Первый слайд">#}
{#                </div>#}
{#                        <div class="head-name">#}
{#                            <h1 class="product-name">{{ product.name }}</h1>#}
{#                        </div>#}
{#                    </div>#}
                    {% endfor %}
                <div class="cart-section">

                    <!-- Add to cart form -->
                <div class="price-button">
                    <div class="price-section">
                        {% if product.discount is not empty %}
                            <s class="price-old">{{ product.unitPrice }} ₴</s>
                            <span class="price-discount">{{ (product.unitPrice * (100 - product.discount)/100)|round(0, 'floor') }} ₴</span>
                        {% else %}
                            <span class="price">{{ product.unitPrice }} ₴</span>
                        {% endif %}
                    </div>
                    <div class="">
                    {% if app.session.has('wish') %}
                        {% if product.id in app.session.get('wish').items|keys %}
                            {% set btn_wish = 'active js-wish' %}
                        {% else %}
                            {% set btn_wish = 'js-wish-product' %}
                        {% endif %}
                    {% else %}
                        {% set btn_wish = 'js-wish-product' %}
                    {% endif %}

                    {% if app.session.has('compare') %}
                        {% if product.id in app.session.get('compare').items|keys %}
                            {% set btn_comp = 'active js-comp' %}
                        {% else %}
                            {% set btn_comp = 'js-compare-product' %}
                        {% endif %}
                    {% else %}
                        {% set btn_comp = 'js-compare-product' %}
                    {% endif %}
                    <button class="btn-icon-wish {{ btn_wish }}" onclick="window.wishProduct(event)"
                            data-url="{{ path('wish_add', {id: product.id}) }}"><i class="fas fa-heart"></i></button>
                    <button class="btn-icon-comp {{ btn_comp }}" onclick="window.compareProduct(event)"
                            data-url="{{ path('compare_add', {id: product.id}) }}"><i class="fas fa-balance-scale"></i></button>
                    {% if app.session.has('cart') %}
                        {% if product.id in app.session.get('cart').products|keys %}
                            {% set btn_cart = 'active js-cart' %}
                        {% else %}
                            {% set btn_cart = 'js-add-product' %}
                        {% endif %}
                    {% else %}
                        {% set btn_cart = 'js-add-product' %}
                    {% endif %}
                        </div>
                    </div>
                    <!---   BTN-CART   --->
                    <button type="button" id="button-cart" class="buy-btn {{ btn_cart }}" onclick="window.addProduct(event)"
                            data-url="{{ path('cart_add', {id: product.id}) }}">
                        <i class="fas fa-shopping-cart"></i>
                        <span>Купить</span>
                    </button>
                </div>
                </div>

                </div>
            <div class="cart-section1">

                <!-- Add to cart form -->
                <div class="price-button">
                    <div class="price-section">
                        {% if product.discount is not empty %}
                            <s class="price-old">{{ product.unitPrice }} ₴</s>
                            <span class="price-discount">{{ (product.unitPrice * (100 - product.discount)/100)|round(0, 'floor') }} ₴</span>
                        {% else %}
                            <span class="price">{{ product.unitPrice }} ₴</span>
                        {% endif %}
                    </div>
                    <div class="button-wish-compare">
                        {% if app.session.has('wish') %}
                            {% if product.id in app.session.get('wish').items|keys %}
                                {% set btn_wish = 'active js-wish' %}
                            {% else %}
                                {% set btn_wish = 'js-wish-product' %}
                            {% endif %}
                        {% else %}
                            {% set btn_wish = 'js-wish-product' %}
                        {% endif %}

                        {% if app.session.has('compare') %}
                            {% if product.id in app.session.get('compare').items|keys %}
                                {% set btn_comp = 'active js-comp' %}
                            {% else %}
                                {% set btn_comp = 'js-compare-product' %}
                            {% endif %}
                        {% else %}
                            {% set btn_comp = 'js-compare-product' %}
                        {% endif %}
                        <button class="btn-icon-wish {{ btn_wish }}" onclick="window.wishProduct(event)"
                                data-url="{{ path('wish_add', {id: product.id}) }}"><i class="fas fa-heart"></i></button>
                        <button class="btn-icon-comp {{ btn_comp }}" onclick="window.compareProduct(event)"
                                data-url="{{ path('compare_add', {id: product.id}) }}"><i class="fas fa-balance-scale"></i></button>
                        {% if app.session.has('cart') %}
                            {% if product.id in app.session.get('cart').products|keys %}
                                {% set btn_cart = 'active js-cart' %}
                            {% else %}
                                {% set btn_cart = 'js-add-product' %}
                            {% endif %}
                        {% else %}
                            {% set btn_cart = 'js-add-product' %}
                        {% endif %}
                    </div>
                </div>
                <!---   BTN-CART   --->
                <button type="button" id="button-cart" class="buy-btn {{ btn_cart }}" onclick="window.addProduct(event)"
                        data-url="{{ path('cart_add', {id: product.id}) }}">
                    <i class="fas fa-shopping-cart"></i>
                    <span>Купить</span>
                </button>
            </div>
            </div>
            </div>
        <div id="user-message" class="popup pop-scroll">
            {% include 'products/sub_template/_product_comments.html.twig' %}
        </div>
        </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('commentList') }}
{% endblock %}