{% extends 'base.html.twig' %}

{% block title %}Login!{% endblock %}

        {% block stylesheets %}
            {{ parent() }}
            <link rel="stylesheet" href="{{ asset('css/login_register.css') }}">
        {% endblock %}

{% block body %}

    {% if error %}
        <p>{{ error.messageKey|trans(error.messageData, 'security') }}</p>
    {% endif %}

    {{ form_start(form, {'method': 'post', 'attr': {'class': 'form-signin'}}) }}
    <h1 class="h3 mb-3 font-weight-normal">Sign in</h1>
    {{ form_errors(form) }}
    {{ form_widget(form.email, { translation_domain: false, 'value': last_username, 'attr': {'class': 'form-control', 'placeholder':'E-mail'} }) }}
    {{ form_widget(form.password, { translation_domain: false, 'attr': {'class': 'form-control', 'placeholder':'Password'}}) }}
    {{ form_row(form.remember_me, {label: 'Remember me', required: false, translation_domain: false}) }}

    <div>
        <input  class="btn btn-lg btn-primary btn-block" type="submit" value="Login" />
        {#<p><a href="{{ url('forgot_password') }}">Forgot your password?</a></p>#}
    </div>

    {{ form_end(form) }}


{% endblock %}
