{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

        {% block stylesheets %}
            {{ parent() }}
            <link rel="stylesheet" href="{{ asset('css/login_register.css') }}">
        {% endblock %}


{% block body %}

    {{ form_start(form, {'method': 'post', 'attr': {'class': 'form-signin'}}) }}
    {#novalidate= "novalidate"#}
    <h1>Register</h1>
    {{ form_errors(form) }}
    {{ form_widget(form.email, {translation_domain: false, 'attr': {'class': 'form-control', 'placeholder':'E-mail'}}) }}
    {{ form_widget(form.password.plain, {translation_domain: false, 'attr': {'class': 'form-control', 'placeholder':'Password'}}) }}
    {{ form_widget(form.password.confirmation, {translation_domain: false, 'attr': {'class': 'form-control', 'placeholder':'Repeat Password'}}) }}

    <div>
        <input class="btn btn-lg btn-primary btn-block" type="submit" value="Register" />
    </div>
    {{ form_end(form) }}
{% endblock %}

{% block footer %}
{% endblock %}